In [1]:
import pandas as pd

# 1. AlzU Survey Data Section

In [2]:
ALZU_RESPONSES_FILE_PATH = '../Data_Folder/2018.09.18_AlzU_ANU-DRI + Responses_Numerical.csv'

## Combine first two rows to generate column names

In [3]:
two_header_rows = pd.read_csv(ALZU_RESPONSES_FILE_PATH, header=None, nrows = 2, delimiter = ",", keep_default_na=False)

transformed_header_row = []

most_recent_col_first_row = None
for column in two_header_rows:
    primary_header = two_header_rows[column][0]
    sub_header = two_header_rows[column][1]
#     print(primary_header + ": " + sub_header)
    if(primary_header != ""):
        most_recent_col_first_row = primary_header
    transformed_header_row.append(most_recent_col_first_row + ": " + sub_header)

## Load Data with column names

In [4]:
alzu_survey_data = pd.read_csv(ALZU_RESPONSES_FILE_PATH, header=None, skiprows = [0,1], delimiter = ",", keep_default_na=False, names=transformed_header_row)

alzu_survey_data.head()

,Respondent ID:,Collector ID:,Start Date:,End Date:,IP Address:,Email Address:,First Name:,Last Name:,Custom Data 1:,How many lessons did you complete on AlzU.org?: Response,...,How many drinks do you have on a typical day when you are drinking?: Response,"Do you, or have you ever, smoked cigarettes, cigars, pipes or any other tobacco products?: Response","Have you ever been involved in occupations that require you to mix, apply or load any pesticides, herbicides, weed killers, fumigants or fungicides?: Response","On average, how many hours per night do you sleep?: Open-Ended Response","Write a short sketch about a memory from your childhood and why it is memorable or important to you. Feel free to discuss an event with family or friends, a place you traveled, or a significant time in your life. Please limit your response to no more than 1-2 paragraphs. This question is optional.: Open-Ended Response",How does technology and social media impact the daily lives of you and your family?Please limit your response to no more than 1-2 paragraphs. This question is optional.: Open-Ended Response,uid: Open-Ended Response,joined: Open-Ended Response,email: Open-Ended Response,lc: Open-Ended Response
0,6936062570,170620047,2018-09-05 9:46:59,2018-09-05 9:50:09,72.239.164.168,,,,,3,...,,,,,,,28350,1505831996,,10
1,6935898635,170620047,2018-09-04 20:43:46,2018-09-04 22:55:52,73.230.13.240,,,,,2,...,2,3,2,6-8,,,34727,1507164531,,3
2,6935793919,170620047,2018-09-04 16:23:38,2018-09-04 16:26:34,98.155.32.231,,,,,2,...,,,,,,,46314,1519250996,,10
3,6935733915,170620047,2018-09-04 14:10:18,2018-09-04 14:27:56,12.33.32.71,,,,,2,...,1,2,2,7,I remember traveling to the National Parks wit...,I like using technology and overcoming the dif...,46294,1519049573,,5
4,6935603649,170620047,2018-09-04 9:27:18,2018-09-04 10:48:34,160.2.106.111,,,,,3,...,1,2,2,8,When I was 8 I swam across a little lake and w...,"I keep in touch with friends and family, do re...",46308,1519246474,,10

In [5]:
alzu_survey_data.shape

(1458, 129)

# 2. CFT Data Section

In [6]:
CFT_FILE_PATH = '../Data_Folder/2018.09_CFT_all.csv'

In [7]:
cft_data = pd.read_csv(CFT_FILE_PATH, delimiter = ",", keep_default_na=False)

In [8]:
cft_data.head()

,UserID,FirstName,EmailAddress,DoB,Gender,RegDate,Country,Postcode,Source,Ethnicy,...,LoseWay,IsMemoryWorse,FamilyHistory,FamilyHistoryAge,Supplements,DeviceUsed,ass,combocs,recallscore,placescore
0,37894,R,rii9004@med.cornell.edu,1/1/40 0:00,M,28/01/2015 03:19:48,,,cornell,,...,False,False,yes,mild,No,,,,,
1,37898,R,rii9004@med.cornell.edu,1/1/60 0:00,M,28/01/2015 03:35:10,,,cornell,,...,False,False,no,none,No,,,,,
2,37323,Abie 3,abie@catalyst-innovation.co.uk,1/1/30 0:00,M,26/01/2015 17:41:49,UK,RH4,cornell,,...,False,False,no,alzh,A basic B complex or RDA type multivitamin,,,,,
3,37318,Abie test 2,abie@catalyst-innovation.co.uk,1/1/77 0:00,M,26/01/2015 17:26:39,UK,KT2 5RN,cornell,,...,False,False,no,none,"A homocysteine lowering formula (eg Connect, H...",,,,,
4,37310,Abie test,abie@catalyst-innovation.co.uk,1/1/79 0:00,M,26/01/2015 17:12:48,UK,KT2 5RN,cornell,,...,False,False,no,none,No,,,,,

In [9]:
cft_data.shape

(9309, 45)

In [10]:
cft_data.columns

Index([u'UserID', u'FirstName', u'EmailAddress', u'DoB', u'Gender', u'RegDate',
       u'Country', u'Postcode', u'Source', u'Ethnicy', u'MouseScore',
       u'Interrupted', u'Functioned', u'FastInternet', u'ScreenClear',
       u'FinalScore', u'DateTaken', u'Homoscyteine', u'MaritalStatus',
       u'Dependents', u'Occupation', u'PrimaryIncome', u'HouseholdIncome',
       u'PrimaryIncomeOccupation', u'FirstPriority', u'SecondPriority',
       u'OtherPriority', u'FullTime', u'PartTime', u'Working', u'CompUser',
       u'MemConcern', u'ForgetFriends', u'PutThings', u'ForgetWords',
       u'LoseWay', u'IsMemoryWorse', u'FamilyHistory', u'FamilyHistoryAge',
       u'Supplements', u'DeviceUsed', u'ass', u'combocs', u'recallscore',
       u'placescore'],
      dtype='object')

## Summary Stats

In [15]:
unique_cft = cft_data.drop_duplicates('EmailAddress', keep='last') # takes the last score

print("Number of tests taken: " + str(cft_data.shape[0]))
print("Number of unique users: " + str(unique_cft.shape[0]))

unique_cft.groupby('Gender').count()

Number of tests taken: 9309
Number of unique users: 8242

,UserID,FirstName,EmailAddress,DoB,RegDate,Country,Postcode,Source,Ethnicy,MouseScore,...,LoseWay,IsMemoryWorse,FamilyHistory,FamilyHistoryAge,Supplements,DeviceUsed,ass,combocs,recallscore,placescore
Gender,,,,,,,,,,,,,,,,,,,,,
,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
F,7024,7024,7024,7024,7024,7024,7024,7024,7024,7024,...,7024,7024,7024,7024,7024,7024,7024,7024,7024,7024
M,1217,1217,1217,1217,1217,1217,1217,1217,1217,1217,...,1217,1217,1217,1217,1217,1217,1217,1217,1217,1217

# 3. Email-UserID Section

In [ ]:
AlzU_Users