In [2]:
import pandas as pd
import numpy as np

In [6]:
cft_514 = pd.read_csv('./CFT-ao-GMT2018-05-59_04-59-54_514.csv')

In [7]:
cft_514.head()

,UserID,FirstName,EmailAddress,DoB,Gender,RegDate,Country,Postcode,Source,Ethnicy,...,LoseWay,IsMemoryWorse,FamilyHistory,FamilyHistoryAge,Supplements,DeviceUsed,ass,combocs,recallscore,placescore
0,37894,R,rii9004@med.cornell.edu,01/01/1940 00:00:00,M,28/01/2015 03:19:48,NaN,NaN,cornell,NaN,...,False,False,yes,mild,No,NaN,NaN,NaN,NaN,NaN
1,37898,R,rii9004@med.cornell.edu,01/01/1960 00:00:00,M,28/01/2015 03:35:10,NaN,NaN,cornell,NaN,...,False,False,no,none,No,NaN,NaN,NaN,NaN,NaN
2,37323,Abie 3,abie@catalyst-innovation.co.uk,01/01/1930 00:00:00,M,26/01/2015 17:41:49,UK,RH4,cornell,NaN,...,False,False,no,alzh,A basic B complex or RDA type multivitamin,NaN,NaN,NaN,NaN,NaN
3,37318,Abie test 2,abie@catalyst-innovation.co.uk,01/01/1977 00:00:00,M,26/01/2015 17:26:39,UK,KT2 5RN,cornell,NaN,...,False,False,no,none,"A homocysteine lowering formula (eg Connect, H...",NaN,NaN,NaN,NaN,NaN
4,37310,Abie test,abie@catalyst-innovation.co.uk,01/01/1979 00:00:00,M,26/01/2015 17:12:48,UK,KT2 5RN,cornell,NaN,...,False,False,no,none,No,NaN,NaN,NaN,NaN,NaN

In [8]:
cft_514.columns

Index(['UserID', 'FirstName', 'EmailAddress', 'DoB', 'Gender', 'RegDate',
       'Country', 'Postcode', 'Source', 'Ethnicy', 'MouseScore', 'Interrupted',
       'Functioned', 'FastInternet', 'ScreenClear', 'FinalScore', 'DateTaken',
       'Homoscyteine', 'MaritalStatus', 'Dependents', 'Occupation',
       'PrimaryIncome', 'HouseholdIncome', 'PrimaryIncomeOccupation',
       'FirstPriority', 'SecondPriority', 'OtherPriority', 'FullTime',
       'PartTime', 'Working', 'CompUser', 'MemConcern', 'ForgetFriends',
       'PutThings', 'ForgetWords', 'LoseWay', 'IsMemoryWorse', 'FamilyHistory',
       'FamilyHistoryAge', 'Supplements', 'DeviceUsed', 'ass', 'combocs',
       'recallscore', 'placescore'],
      dtype='object')

In [10]:
cft_514.loc[:,'FinalScore'].head()

0          NaN
1          NaN
2    16.812572
3    10.051615
4    11.232202
Name: FinalScore, dtype: float64

In [66]:
total_participants = cft_514.loc[:,'FinalScore'].count()

In [58]:
#within one standard deviation (11) of the mean (54.2) and above
green = sum(cft_514.loc[:,'FinalScore']>=43.2)

In [59]:
green

3802

In [68]:
green/total_participants

0.5098565106611238

In [60]:
#below one standard deviation, 'at risk'
#rounded as per foodforthebrain.org/alzheimers-prevention/take-the-test/interpreting-results.aspx
# amber = sum((cft_514.loc[:,'FinalScore']>=38) & (cft_514.loc[:,'FinalScore']<=43))
amber = sum((cft_514.loc[:,'FinalScore']>= 37.7) & (cft_514.loc[:,'FinalScore']<43.2))

In [61]:
amber

1639

In [69]:
amber/total_participants

0.21979348263376694

In [62]:
#below 1.5 standard deviations from the mean, 'significant risk'
#foodforthebrain.org/alzheimers-prevention/take-the-test/interpreting-results.aspx
red = sum(cft_514.loc[:,'FinalScore']<37.7)

In [63]:
red

2016

In [70]:
red/total_participants

0.2703500067051093

In [64]:
red+amber+green

7457

In [67]:
red+amber+green == total_participants

True

In [8]:
fnt_514 = pd.read_csv('fnt-responses_514.csv')

C:\Users\rz336\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (17,18,32,33,47,91,92,106,150,151,165,179,180,209,210,238,239,297,298,356,357) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [22]:
fnt_col_scores = [c for c in fnt_514.columns if 'Ver: A' in c]

In [23]:
fnt_col_scores

['Ver: A - Original Start',
 'Ver: A - Original End',
 'Ver: A - Original | Task: Number | Responses',
 'Ver: A - Original | Task: Number | Correct',
 'Ver: A - Original | Task: Letter | Responses',
 'Ver: A - Original | Task: Letter | Correct',
 'Ver: A - Original | Task: Name | Responses',
 'Ver: A - Original | Task: Name | Correct',
 'Ver: A - Original | Task: Famous | Responses',
 'Ver: A - Original | Task: Famous | Correct',
 'Ver: A Start',
 'Ver: A End',
 'Ver: A | Task: Number | Responses',
 'Ver: A | Task: Number | Correct',
 'Ver: A | Task: Letter | Responses',
 'Ver: A | Task: Letter | Correct',
 'Ver: A | Task: Name | Responses',
 'Ver: A | Task: Name | Correct',
 'Ver: A | Task: Famous | Responses',
 'Ver: A | Task: Famous | Correct']

In [50]:
def stats(correct,responses):
    print(correct,':',responses)
#     scores = fnt_514.loc[:,correct]/fnt_514.loc[:,responses]
    scores = fnt_514.iloc[:,correct]/fnt_514.iloc[:,responses]
    return (scores.describe())

In [52]:
for i in range(0,len(fnt_col_scores),2):
#     stats(i+1,i)
    print(fnt_col_scores[i+1],fnt_col_scores[i])
#     stats(str(fnt_col_scores[i+1]),str(fnt_col_scores[i]))

Ver: A - Original End Ver: A - Original Start
Ver: A - Original | Task: Number | Correct Ver: A - Original | Task: Number | Responses
Ver: A - Original | Task: Letter | Correct Ver: A - Original | Task: Letter | Responses
Ver: A - Original | Task: Name | Correct Ver: A - Original | Task: Name | Responses
Ver: A - Original | Task: Famous | Correct Ver: A - Original | Task: Famous | Responses
Ver: A End Ver: A Start
Ver: A | Task: Number | Correct Ver: A | Task: Number | Responses
Ver: A | Task: Letter | Correct Ver: A | Task: Letter | Responses
Ver: A | Task: Name | Correct Ver: A | Task: Name | Responses
Ver: A | Task: Famous | Correct Ver: A | Task: Famous | Responses

In [28]:
fnt_num_scores = fnt_514.loc[:,'Ver: A - Original | Task: Number | Correct']/fnt_514.loc[:,'Ver: A - Original | Task: Number | Responses']

In [32]:
fnt_num_scores.describe()

count    11405.000000
mean         0.960722
std          0.089035
min          0.083333
25%          0.916667
50%          1.000000
75%          1.000000
max          1.000000
dtype: float64

In [33]:
fnt_letter_scores = fnt_514.loc[:,'Ver: A - Original | Task: Letter | Correct']/fnt_514.loc[:,'Ver: A - Original | Task: Letter | Responses']

In [34]:
fnt_letter_scores.describe()

count    11146.000000
mean         0.551371
std          0.231175
min          0.000000
25%          0.416667
50%          0.583333
75%          0.750000
max          1.000000
dtype: float64

In [47]:
fnt_name_scores = fnt_514.loc[:,'Ver: A - Original | Task: Name | Correct']/fnt_514.loc[:,'Ver: A - Original | Task: Name | Responses']

In [48]:
fnt_name_scores.describe()

count    10891.000000
mean         0.787034
std          0.159085
min          0.000000
25%          0.666667
50%          0.833333
75%          0.916667
max          1.000000
dtype: float64

In [53]:
fnt_fame_scores = fnt_514.loc[:,'Ver: A - Original | Task: Famous | Correct']/fnt_514.loc[:,'Ver: A - Original | Task: Famous | Responses']

In [54]:
fnt_fame_scores.describe()

count    2665.000000
mean        0.957349
std         0.078345
min         0.300000
25%         0.900000
50%         1.000000
75%         1.000000
max         1.000000
dtype: float64