In [1]:
import math

In [2]:
import pandas as pd

import numpy as np

import nltk

import re
from collections import Counter

import string

import pprint

In [3]:
from statistics import mean

In [4]:
from itertools import islice

Nb Formatting

In [5]:
pd.options.display.max_seq_items = 2000

pd.set_option('display.max_columns', 100)

# Data setup

Open Dataset

In [6]:
#ignore header for easier (ordinal) indexing
datasheet = pd.read_excel('CogData_FU.xlsx',header=None)

In [7]:
len(datasheet)

577

In [8]:
datasheet.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96
0,Record ID,Event Name,Write a short sketch about a memory from your ...,How does technology and social media impact th...,Date of Neurobehavioral Status Exam,Notes,NIH Toolbox ID,NIH Toolbox Password,Crystallized Composite fully adjusted,Picture Vocab fully adjusted,Picture Vocab age adjusted,Picture Vocab computed,Oral Reading Recognition fully adjusted,Oral Reading Recognition age adjusted,Oral Reading Recognition computed,RAVLT Trial1,RAVLT Trial2,RAVLT Trial3,RAVLT Delayed Recall,RAVLT: Total Recognition Score,RAVLT: False Positive Score,RAVLT Percentile,Picture Sequence Memory fully adjusted,Picture Sequence Age Adjusted,Picture Sequence Memory computed score,List Sorting fully adjusted,List Sorting Age Adjusted,List Sorting raw score,Dimensional Change Card Sort Fully Adjusted,Dimensional Change Age Adjusted,Dimensional Change computed score,Dimensional Change raw score,Flanker Inhibitory Attention & Control Fully A...,Flanker Inhibitory Attention & Control age adj...,Flanker computed score,Flanker raw score,Pattern Comparison Fully Adjusted Scale Score,Pattern Comparison age adjusted,Pattern Comparison Raw Score,Odor Identification Fully Adjusted Scale Score,Odor Identification age adjusted,Odor Identification (Raw),Oral Digit Symbol Percentile,Oral Digit Symbol (Raw),Date of Short Cognitive Testing,FAS Letter Fluency,FAS Percentile,FAS Fully Adjusted,Animal Naming Test,Animal Naming Test Percentile,Animal Naming Fully Adjusted,Trail Making Test B,Trail Making Test B Percentile,Trail Making Fully Adjusted,Boston Naming,Boston Naming Percentile,Boston Naming Fully Adjusted,Neurotrack ID,Neurotrack Date,NT Mean Novelty Preference Score,Neurotrack Score (Median),1. Orientation Score,1a. Time,1b. Place,2. Registration,3. Attention and Calculation,4. Recall,5. Language,5a. Naming,5b. Repetition,5c. 3-stage Command,5d. Reading,5e. Writing,5f. Copying,Total MMSE score,Story Version,Immediate Recall,Immediate Recall Percentile,Delayed Recall,Delayed Recall Percentile,Facial Recognition A,Cued First Letter A,Multiple Choice Names A,Facial Recognition B,Cued First Letter B,Multiple Choice Names B,CogStateID,Date Conducted:,CogState: Detection,CogState: Identification,CogState: One Card Learning,CogState: One Back Speed,Cog State: One Back Accuracy,Ravens Progressive Matrices,Logical Memory Part B,East Boston Immediate Recall,Complete?
1,10,Baseline,NaN,NaN,2015-02-23 00:00:00,"RAVLT recognition, Odor ID and Trails B not ad...",85176,NaN,83.32,73.6571,83.1442,1464,100.106,109.371,2180,2,3,3,0,NaN,NaN,<25,95.04,95.98,407.08,68.03,74.62,8,82.9,88.57,5.85,30,68.51,72.43,4.88,19,67.64,70.46,28,NaN,NaN,NaN,<min,26,NaN,21,<10,NaN,7,<10,NaN,NaN,NaN,NaN,12,NaN,NaN,NaN,NaN,NaN,NaN,5,1,4,3,4,0,9,2,1,3,1,1,1,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Complete
2,10,FU Visit 2,NaN,NaN,2015-09-28 00:00:00,Trails B incomplete,65967,NaN,129.69,104.74,107.1,1739,127.399,132.224,2578,3,3,4,0,9,16,<25,NaN,NaN,NaN,NaN,NaN,NaN,81.81,87.53,5.74,25,81.03,86.93,6.85,20,54.96,58.74,18,91.83,89.99,6,<25,35,NaN,27,20-30,NaN,10,<10,NaN,NaN,NaN,NaN,11,NaN,NaN,S_172,2015-09-28 00:00:00,0.548938,0.642857,5,2,3,3,5,0,9,2,1,3,1,1,1,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Complete
3,13,Baseline,NaN,NaN,2015-02-24 00:00:00,Odor ID not administered,15497,NaN,140.09,122.101,126.974,2001,153.735,153.95,5220,8,10,14,12,NaN,NaN,>75,113.71,114.05,596.02,122.3,128,23,101.5,108.28,8.65,30,83.14,87.7,7.9,20,114.81,118.54,67,NaN,NaN,NaN,>75,108,NaN,70,>90,NaN,35,>90,NaN,NaN,NaN,NaN,14,NaN,NaN,NaN,NaN,NaN,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,401201572678100,2015-04-01 00:00:00,106,109,110,101,106,NaN,NaN,NaN,Complete
4,13,FU Visit 2,NaN,NaN,2016-02-12 00:00:00,NaN,12037,awk,143.18,131.251,134.615,2128,130.488,136.196,2684,7,13,14,14,15,0,>75,NaN,NaN,NaN,NaN,NaN,NaN,120.02,125.31,10,30,112.61,119.41,79.67,20,116.65,120.29,68,77.43,78.15,6,>75,101,2016-02-12 00:00:00,65,>90,NaN,25,75,NaN,30,>90,NaN,14,NaN,NaN,I_332,2016-02-12 00:00:00,0.530714,0.530714,10,5,5,3,5,3,9,2,1,3,1,1,1,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,401201572678100,2016-02-12 00:00:00,105,107,108,103,106,NaN,NaN,NaN,Complete

Row Indices of Memory Responses

In [9]:
#ignore first (header) column
memory_ix = datasheet.iloc[1:][datasheet.iloc[1:,2].notnull()].index

Record IDs of Memory Respondents [Analyze all scores from each participant]

In [10]:
memory_id = list(datasheet.iloc[memory_ix][0])

Confirm Unique Response-Respondents

In [11]:
len(memory_id)

46

In [12]:
len(set(memory_id))

46

In [13]:
datasheet.iloc[memory_ix]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96
6,14,Baseline,When I was a little child I had the same exper...,I stay in touch with family and friends throug...,2015-02-26 00:00:00,NaN,35926,qjh,123.54,126.545,131.008,2048,114.984,120.673,2378,4,3,6,2,NaN,NaN,NaN,99.13,104.48,455.07,94.85,101.4,14,106.02,112.97,7.52,30,84.37,88.37,6.97,20,97.93,102.12,47,NaN,NaN,NaN,25-50,57,NaN,46,60-70,NaN,20,50-75,NaN,NaN,NaN,NaN,15,NaN,NaN,NaN,NaN,NaN,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,317201572669916,2015-03-17 00:00:00,102,99,103,93,116,NaN,NaN,NaN,Complete
29,26,Baseline,"When I was very young, living in the Astoria n...",I'm a journalist who has covered the rise of t...,2015-02-03 00:00:00,RAVLT rec not administered,36080,NaN,148.32,145.587,151.803,2387,123.836,129.301,2536,5,9,12,3,NaN,NaN,>75,98.49,99.03,441.15,117.08,123.29,20,90.58,96.61,7.23,30,80.58,84.76,7.13,20,96.19,99.72,50,NaN,NaN,NaN,<25,56,NaN,53,80,NaN,26,>90,NaN,NaN,NaN,NaN,15,NaN,NaN,NaN,NaN,NaN,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1054,2015-02-03 00:00:00,113,112,100,100,103,NaN,NaN,NaN,Complete
51,64,Baseline,I went to Paris when I was 16. I was staying ...,My husband and I are on our computers all day ...,2015-05-08 00:00:00,No Rey recognition,61681,NaN,130.68,134.57,139.464,2163,115.002,120.701,2379,7,10,11,6,NaN,NaN,>75,NaN,NaN,NaN,NaN,NaN,NaN,116.76,122.84,8.3,30,113.97,119.91,8.68,20,122.25,126.13,60,132.15,137.68,9,50-75,62,NaN,47,60-70,NaN,22,75,NaN,84,50,NaN,15,NaN,NaN,S_53,2015-05-08 00:00:00,poor quality,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61620151847168,2015-06-16 00:00:00,NaN,NaN,80,96,61,NaN,NaN,NaN,Complete
56,67,Baseline,My husband and I had always wanted to go to Pa...,"I'm on the computer all the time, writing or r...",2015-03-17 00:00:00,No RAVLT recognition and Odor ID,56478,NaN,130.99,129.869,132.736,2131,120.448,123.786,2449,7,10,12,10,NaN,NaN,>75,NaN,NaN,NaN,NaN,NaN,NaN,80.55,83.58,6.04,29,82.62,86.65,7.28,20,72,75.96,36,NaN,NaN,NaN,25-50,62,2015-03-17 00:00:00,49,70,NaN,29,>90,NaN,72,20-30,NaN,14,NaN,NaN,I_11,2015-03-17 00:00:00,0.570714,0.6,10,5,5,3,5,3,9,1,1,3,1,1,1,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,325201574035660,2015-03-25 00:00:00,96,105,109,99,103,NaN,NaN,NaN,Complete
78,101,Baseline,I was born in Hungary. A significant memory is...,My use of social media is minimal. I only use ...,2015-03-06 00:00:00,No RAVLT rec and Odor ID,52303,NaN,123.55,117.09,121.136,1967,120.986,124.254,2455,6,9,10,7,NaN,NaN,>75,NaN,NaN,NaN,97.45,103.11,16,92.3,97.7,7.31,29,78.6,81.54,6.8,20,88.52,92.83,46,NaN,NaN,NaN,25-50,60,NaN,30,2018-10-20 00:00:00,NaN,11,<10,NaN,66,60-70,NaN,13,NaN,NaN,I_00,2015-03-06 00:00:00,0.470714,0.5,10,5,5,3,5,2,9,2,1,3,1,1,1,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,422201573922344,2015-04-22 00:00:00,NaN,113,72,NaN,NaN,NaN,NaN,NaN,Complete
89,110,Baseline,When I was 16 years old I traveled to Europe b...,I check that on what my children are doing and...,2016-03-04 00:00:00,NaN,78039,vab,137.14,133,137.148,2164,124.176,129.631,2505,9,12,15,13,14,1,>75,NaN,NaN,NaN,NaN,NaN,NaN,111.59,118.1,9,30,118.52,124.95,9.56,20,128.01,132.7,70,111.87,118.02,9,50-75,78,2016-03-04 00:00:00,76,>90,NaN,28,75-90,NaN,35,>90,NaN,15,NaN,NaN,I_338,2016-03-01 00:00:00,0.595952,0.595952,10,5,5,3,5,3,9,2,1,3,1,1,1,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,304201673920436,2016-03-04 00:00:00,106,105,112,102,103,NaN,NaN,NaN,Complete
100,135,Baseline,I have great memories of growing up in huge ho...,Technology has helped me connect to family and...,2015-04-20 00:00:00,No RAVLT rec.,59106,NaN,105.68,106.366,108.008,1767,104.435,109.664,2163,4,8,9,7,NaN,NaN,25-50,NaN,NaN,NaN,NaN,NaN,NaN,102.84,110.25,8.42,29,106.02,115.9,9.02,20,113.47,118.46,62,89.34,90.74,7,50-75,82,NaN,37,20-30,NaN,15,<10,NaN,74,20-30,NaN,13,NaN,NaN,NaN,NaN,NaN,NaN,10,5,5,3,5,2,9,2,1,3,1,1,1,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,428201575175516,2015-04-28 00:00:00,92,94,105,100,116,NaN,NaN,NaN,Complete
107,139,Baseline,"When I was 8 or 9 years old, I was playing on ...",I use a laptop and phone constantly for work a...,2015-12-23 00:00:00,No record of paper-based tests found. RAVLT no...,11825,NaN,113.41,108.199,114.736,1840,112.616,119.095,2380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.84,112.36,8.93,30,100.54,106.84,9.05,20,124.12,128.1,72,111.18,112.39,9,<25,56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Complete
118,145,Baseline,One of my fondest childhood memories is how mu...,I do not use any social media sites at this ti...,2015-05-05 00:00:00,No RAVLT rec.,71700,NaN,98.08,94.6693,103.967,1717,103.212,110.676,2177,6,14,14,13,NaN,NaN,>75,NaN,NaN,NaN,NaN,NaN,NaN,111.96,118.42,9.02,26,113.76,121.26,9.28,20,120.39,125.7,66,98.1,102.76,8,25-50,72,NaN,39,30-40,NaN,24,50-75,NaN,55,80-90,NaN,15,NaN,NaN,NaN,NaN,NaN,NaN,10,5,5,3,5,3,8,2,1,3,1,1,0,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,506201573952392,2015-05-06 00:00:00,108,110,96,111,116,NaN,NaN,NaN,Complete
154,205,Baseline,One of my favorite memories from my childhood ...,Social media is great to stay in touch with wh...,2015-05-22 00:00:00,No RAVLT rec.,86283,NaN,120.45,121.017,126.885,2004,116.032,121.699,2371,9,11,15,13,NaN,NaN,>75,NaN,NaN,NaN,NaN,NaN,NaN,103.76,110.89,8.47,29,104.58,111.72,8.82,20,126.08,131.02,69,98.1,102.76,8,>75,94,NaN,56,80-90,NaN,30,90,NaN,45,80-90,NaN,15,NaN,NaN,S_285,NaN,NaN,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,624201567818712,2015-06-24 00:00:00,107,104,113,103,116,NaN,NaN,NaN,Complete
184,233,Baseline,My favorite pastime as a small child was re-en...,Social Media is a bit of a challenge as I am a...,2015-06-15 00:00:00,No RAVLT rec.,58694,NaN,111.58,102.041,108.38,1766,114.525,119.353,2384,8,8,13,12,NaN,NaN,75,NaN,NaN,NaN,NaN,NaN,NaN,92.66,98.27,8.03,30,96.53,100.81,8.76,20,90.41,94.88,54,95.44,98.83,8,<25,63,NaN,47,80-90,NaN,28,>90,NaN,54,80-90,NaN,15,NaN,NaN,NaN,NaN,NaN,NaN,10,5,5,3,5,2,9,2,1,3,1,1,1,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62520154776639,2015-06-25 00:00:00,100,106,93,92,107,NaN,NaN,NaN,Complete
202,245,Baseline,I remember going to the park with my dad to pl...,I use email daily for work and it usually cont...,2015-06-23 00:00:00,No RAVLT rec.,85213,NaN,123.74,103.491,110.494,1832,123.572,128.909,2529,6,10,12,11,NaN,NaN,>75,NaN,NaN,NaN,NaN,NaN,NaN,115.03,120.59,8.88,30,116.15,122.78,9.32,20,131.16,134.34,69,94.06,94.22,7,>75,90,NaN,53,80,NaN,26,>90,NaN,45,90,NaN,14,NaN,NaN,I_353,NaN,NaN,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,624201573935544,2015-06-24 00:00:00,113,106,103,96,107,NaN,NaN,NaN,Complete
217,254,Baseline,"At the age of 14, I was the setter on a volley...",Technology is woven into the fabric of our liv...,2015-06-30 00:00:00,No RAVLT rec.,76460,NaN,116.62,105.653,111.404,1801,118.435,123.381,2447,8,11,14,12,NaN,NaN,75th,NaN,NaN,NaN,NaN,NaN,NaN,91.92,97.51,7.98,30,80.62,84.03,7.57,20,73.83,77.77,44,76.22,78.15,6,25th,72,NaN,43,40,NaN,29,90,NaN,53.4,60,NaN,15,NaN,NaN,NaN,NaN,NaN,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100220154771610,2015-10-02 00:00:00,105,100,100,92,116,NaN,NaN,NaN,Complete
226,263,Baseline,I have been able to recall - in detail -- memo...,We dont engage on social media. Email exchange...,2015-06-16 00:00:00,No RAVLT rec.,44395,NaN,103.08,110.59,115.573,1896,94.4589,98.9001,2050,4,9,11,11,NaN,NaN,75th,NaN,NaN,NaN,NaN,NaN,NaN,100.34,106.02,7.82,29,102.48,107.5,8.57,20,132.3,135.68,70,120.99,126.63,9,50-75,77,NaN,65,>90,NaN,29,>90,NaN,67,60,NaN,15,NaN,NaN,I_337,NaN,NaN,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61720151214193,2015-06-17 00:00:00,87,97,99,95,103,NaN,NaN,NaN,Complete
242,276,Baseline,I have a very clear memeory of last time I saw...,If by Technology we refer to communication te...,2015-07-10 00:00:00,No RAVLT rec.,5772,NaN,122.5,107.337,110.883,1799,124.832,129.543,2504,4,9,9,10,NaN,NaN,75th,NaN,NaN,NaN,NaN,NaN,NaN,96.65,95.93,7.52,30,79.44,81.24,6.81,20,99.06,98.29,51,68.88,67.12,4,25-50,66,NaN,36,20-30,NaN,18,25,NaN,98.6,2018-10-20 00:00:00,NaN,14,NaN,NaN,I_329,NaN,NaN,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,710201576047052,2015-07-10 00:00:00,NaN,87,103,91,107,NaN,NaN,NaN,Complete
266,291,Baseline,"My parents lived in Ft. Myers, Florida, when I...","Social media not much, since I don'tuse them, ...",2015-09-21 00:00:00,NaN,66676,NaN,152.86,136.929,144.87,2257,153.735,153.95,5140,6,7,8,6,11,2,>75th,NaN,NaN,NaN,NaN,NaN,NaN,103.36,109.93,8.07,30,100.52,106.94,8.55,20,90.88,94.57,47,125.05,126.63,9,<75th,72,NaN,59,90,NaN,37,>90,NaN,54,80-90,NaN,14,NaN,NaN,I_167,2015-09-21 00:00:00,0.473132,0.266667,10,5,5,3,5,3,9,2,1,3,1,1,1,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Complete
277,310,Baseline,"i visited Washington DC with my brother, my gr...",I work in a business that is driven by technol...,2015-08-04 00:00:00,No RAVLT rec.,81654,NaN,119.14,103.193,109.059,1817,122.267,125.554,2479,7,9,15,11,NaN,NaN,>75,NaN,NaN,NaN,NaN,NaN,NaN,103.2,108.97,8.01,29,95.64,99.97,8.21,20,108.15,112.68,57,120.99,126.63,9,50-75,73,NaN,38,50-60,NaN,22,90,NaN,46,80-90,NaN,15,NaN,NaN,NaN,NaN,NaN,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,810201570660084,2015-08-10 00:00:00,96,101,116,97,77,NaN,NaN,NaN,Complete
286,322,Baseline,I remember finally going to the country in the...,I use my smart phone often in my iPad and try ...,2015-07-23 00:00:00,NaN,7574,rjq,122.64,119.337,125.603,1972,118.171,125.424,2461,5,6,6,1,NaN,NaN,>75,NaN,NaN,NaN,NaN,NaN,NaN,101.62,109.73,7.28,30,85.27,90.15,7.12,20,76.14,79.9,34,79.49,80.25,5,<25,47,2015-07-23 00:00:00,53,80,NaN,13,10,NaN,57,90,NaN,12,NaN,NaN,I_118,2015-07-23 00:00:00,0.534396,0.519231,10,5,5,3,5,3,9,2,1,3,1,1,1,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,723201576081096,2015-07-23 00:00:00,91,91,102,89,116,NaN,NaN,NaN,Complete
297,331,Baseline,My dad took my friends and cousins and me cam...,It is ever present although i see it most prob...,2015-10-02 00:00:00,NaN,84488,NaN,140.91,127.605,130.794,2095,127.909,131.289,2578,7,11,12,12,12,1,>75,NaN,NaN,NaN,NaN,NaN,NaN,104.06,109.96,8.07,30,100.05,104.87,8.44,20,115.86,119.91,61,120.99,126.63,9,>75,91,NaN,61,>90,NaN,27,>90,NaN,39,>90,NaN,15,NaN,NaN,I_181,2015-10-02 00:00:00,0.65381,0.72381,10,5,5,3,5,3,9,2,1,3,1,1,1,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1002201576221890,2015-10-02 00:00:00,110,110,90,104,97,NaN,NaN,NaN,Complete
303,342,Baseline,A vivid memory of my childhood was about my fa...,"Since I worked up until 2013, I had adjusted t...",2015-08-11 00:00:00,NaN,94330,snf,133.47,111.074,116.092,1901,127.796,131.251,2577,5,7,7,5,NaN,NaN,25-50,NaN,NaN,NaN,NaN,NaN,NaN,112.27,117.41,8.62,28,112.41,117.88,9.05,20,139.68,142.89,76,56.72,58.2,2,25-50,67,2015-08-11 00:00:00,62,>90,NaN,24,75-90,NaN,36,>90,NaN,15,NaN,NaN,I_346,NaN,NaN,NaN,10,5,5,3,5,1,9,2,1,3,1,1,1,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82020151999490,2015-08-20 00:00:00,NaN,117,80,NaN,NaN,NaN,NaN,NaN,Complete
324,382,Baseline,My dad was off on Wednesday's and we often wen...,It's easy to be on it too much,2015-02-03 00:00:00,"Odor, Trails, Rey rec. not administered",34290,NaN,120.52,128.07,133.036,2098,109.623,115.896,2273,6,10,12,6,NaN,NaN,>75,103.96,111.52,528.79,109.5,115.53,19,93.44,100.51,7.81,30,86.79,92.06,7.78,20,103.77,109.19,57,NaN,NaN,NaN,25-50,73,2015-02-03 00:00:00,40,30-40,NaN,21,25-50,NaN,NaN,NaN,NaN,15,NaN,NaN,NaN,NaN,NaN,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1055,2015-02-03 00:00:00,98,103,104,102,107,NaN,NaN,NaN,Complete
347,417,Baseline,"My earliest memory is standing, in diaper...",Technology and social media have had huge...,2016-05-17 00:00:00,NaN,84659,crj,132.84,128.875,132.657,2127,121.981,126.93,2503,6,9,12,5,9,3,>75,NaN,NaN,NaN,NaN,NaN,NaN,125.09,129.64,9.84,29,108.93,115.91,8.96,20,96.19,99.72,50,125.05,126.63,9,>75,78,2016-05-17 00:00:00,45,60,NaN,25,90,NaN,62,70-80,NaN,15,NaN,NaN,I_361,2016-05-17 00:00:00,0.594496,0.594496,9,5,4,3,5,3,9,2,1,3,1,1,1,29,B,15,NaN,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,518201676407388,2016-05-18 00:00:00,110,105,107,97,103,NaN,NaN,NaN,Complete
352,420,Baseline,We took very few trips as a family. We had lim...,Technology and the internet give us access to ...,2016-01-26 00:00:00,NaN,11531,wp2,124.92,123.742,129.217,2015,117.989,123.706,2429,6,7,7,5,12,5,50-75,NaN,NaN,NaN,NaN,NaN,NaN,96.26,103.72,6.9,29,95.8,100.63,7.76,20,92.82,96.87,44,87.26,89.99,6,>75,72,2016-01-26 00:00:00,57,>90,NaN,22,90,NaN,45,>90,NaN,13,NaN,NaN,I_312,NaN,NaN,NaN,10,5,5,3,5,2,9,2,1,3,1,1,1,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Complete
359,434,Baseline,They say traumatic memories tend to remain viv...,Technology and social media is a double edged ...,2016-01-12 00:00:00,no odor ID administered,45216,qft,153.68,143.457,150.15,2309,129.972,135.621,2606,9,12,15,15,15,0,>75,NaN,NaN,NaN,NaN,NaN,NaN,114.92,121.09,9.24,30,121.73,126.92,9.75,20,140.02,143.77,79,NaN,NaN,NaN,>75,89,2016-01-12 00:00:00,57,80-90,NaN,30,>90,NaN,45,80-90,NaN,15,NaN,NaN,I_287,NaN,NaN,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,119201677362036,2016-01-19 00:00:00,99,106,111,101,116,NaN,NaN,NaN,Complete
375,458,Baseline,"I remember that in fourth grade, there was an ...",Technology gives us access to an unbelievable ...,2015-09-22 00:00:00,NaN,50472,axx,139.39,127.281,129.491,2033,127.577,131.651,2547,4,7,9,11,12,3,50,NaN,NaN,NaN,NaN,NaN,NaN,104.11,103.36,7.99,29,96.77,98.13,8.16,20,125.09,123.97,65,106.97,102.76,8,50-75,92,2015-09-22 00:00:00,50,60-70,NaN,26,75-90,NaN,54,70-80,NaN,14,NaN,NaN,I_168,2015-09-22 00:00:00,0.555806,0.554762,10,5,5,3,3,3,9,2,1,3,1,1,1,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100220159410772,2015-10-02 00:00:00,96,99,107,97,103,NaN,NaN,NaN,Complete
387,465,Baseline,My mother frequently threatened to kill hersel...,It is both a help and a hindrance because it i...,2015-12-29 00:00:00,NaN,76082,NaN,114.04,107.838,114.647,1829,114.536,120.097,2371,8,8,9,3,10,13,>75,NaN,NaN,NaN,NaN,NaN,NaN,122.79,128.12,8.88,28,92.41,96.88,7.56,19,79.84,84.75,37,132.15,137.68,9,<25,33,2015-12-29 00:00:00,56,80-90,NaN,17,25-50,NaN,74,50-60,NaN,13,NaN,NaN,I_275,2015-12-29 00:00:00,0.521424,0.521424,10,5,5,3,5,3,9,2,1,3,1,1,1,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,122920152785824,2015-12-29 00:00:00,105,107,102,96,90,NaN,NaN,NaN,Complete
398,474,Baseline,I had auditioned for a repertory company in my...,It keeps me in the know about people (friends ...,2015-10-27 00:00:00,NaN,44360,NaN,138.21,117.62,121.875,1934,128.015,132.417,2606,5,10,15,13,12,3,75,NaN,NaN,NaN,NaN,NaN,NaN,120.43,125.31,10,30,113.13,118.66,9.6,20,130.92,134.72,76,108.47,112.39,9,>75,101,NaN,49,60,NaN,30,90,NaN,28,90,NaN,13,NaN,NaN,I_209,2015-10-27 00:00:00,0.546429,0.585714,10,5,5,3,5,2,9,2,1,3,1,1,1,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1029201573830500,2015-10-29 00:00:00,106,107,112,107,116,NaN,NaN,NaN,Complete
411,483,Baseline,learning to ride a bike at the jersey shore on...,Provides an efficient way to gain access to re...,2015-12-22 00:00:00,NaN,75827,vzu,124.08,118.54,123.112,1932,121.471,124.936,2444,4,6,7,4,9,2,<25,NaN,NaN,NaN,NaN,NaN,NaN,106.72,112.48,9.54,30,95.14,98.79,8.71,20,125.64,129.86,76,108.91,111.41,9,>75,100,2015-12-22 00:00:00,46,50-60,NaN,30,90,NaN,44,80-90,NaN,15,NaN,NaN,I_267,NaN,NaN,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21231568193220,2015-12-23 00:00:00,93,104,100,107,117,NaN,NaN,NaN,Complete
423,512,Baseline,In fifth grade my grandparents took my sister ...,Don't care for social media. Although I have a...,2016-03-29 00:00:00,NaN,80536,wvg,107.92,106.625,112.006,1851,106.286,111.3,2230,7,10,12,9,15,0,>75,NaN,NaN,NaN,NaN,NaN,NaN,119.98,124.73,9.25,29,110.81,116.26,8.98,20,97.29,101.37,51,104.51,107.22,8,>75,88,2016-03-29 00:00:00,40,40-50,NaN,23,75-90,NaN,60,50,NaN,15,NaN,NaN,NaN,NaN,NaN,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,A,14,NaN,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,328201676924180,2016-03-28 00:00:00,104,105,105,96,100,NaN,NaN,NaN,Complete
433,514,Baseline,I have fond memories of going to TOBAY beach o...,"I don't use social media, as I hear that it co...",2016-04-05 00:00:00,NaN,71911,npt,102.21,103.153,109.248,1776,99.9347,106.346,2161,6,10,14,12,12,1,75,NaN,NaN,NaN,NaN,NaN,NaN,96.8,102.94,8.31,29,93.75,97.81,8.6,20,94.06,98.35,56,95.44,98.83,8,<25,69,2016-04-05 00:00:00,44,40-50,NaN,22,25-50,NaN,44,80-90,NaN,15,NaN,NaN,NaN,NaN,NaN,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,A,14,NaN,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Complete
438,521,Baseline,"I was 13, & 8 of our 9 family members set off ...","Good: keep up with friends & family, exposure ...",2016-04-05 00:00:00,NaN,88214,hrx,113.83,104.273,112.339,1818,116.935,122.338,2385,6,14,15,13,14,1,>75,NaN,NaN,NaN,NaN,NaN,NaN,117.85,123.97,9.49,30,109.19,116.93,9.06,20,142.08,144.58,83,64.45,67.12,4,>75,88,2016-04-05 00:00:00,68,>90,NaN,26,75-90,NaN,29,>90,NaN,15,NaN,NaN,NaN,NaN,NaN,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,A,13,NaN,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Complete
445,532,Baseline,When I was seven my father went off to play te...,Technology and social media have become part o...,2015-12-01 00:00:00,NaN,84593,quh,110.55,99.5913,109.339,1782,115.984,123.404,2401,6,9,10,8,10,4,>75,NaN,NaN,NaN,NaN,NaN,NaN,105.16,112.87,8.62,28,118.54,125.9,9.63,20,76.38,81.08,41,101.24,102.76,8,75,81,2015-12-01 00:00:00,57,>90,NaN,19,25-50,NaN,51,70-80,NaN,14,NaN,NaN,I_244,2015-12-01 00:00:00,0.571136,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1209201576104160,2015-12-09 00:00:00,NaN,NaN,75,89,58,NaN,NaN,NaN,Complete
448,537,Baseline,Two memories come to mind in response to this ...,"At this time in my life, technology has just b...",2016-07-26 00:00:00,NaN,74048,htp,129.32,126.585,130.265,2044,119.994,124.517,2469,8,11,14,12,14,0,>75,NaN,NaN,NaN,NaN,NaN,NaN,111.75,117.11,9.28,30,98.08,102.44,8.85,20,140.53,143.79,84,108.47,112.39,9,>75,110,2016-07-26 00:00:00,65,>90,NaN,37,>90,NaN,32,>90,NaN,15,NaN,NaN,I_391,2016-07-26 00:00:00,0.502619,NaN,10,5,5,3,5,2,9,2,1,3,1,1,1,29,A,17,NaN,15,NaN,12,6,11,NaN,NaN,NaN,727201677126236,2016-07-26 00:00:00,106,105,107,101,116,NaN,NaN,NaN,Complete
460,559,Baseline,I remember how we celebrated the Jewish holida...,I find technology a wonderful way for me to st...,2016-08-01 00:00:00,NaN,32181,yet,124.37,132.754,135.907,2136,110.115,116.308,2304,5,13,15,13,15,1,>75,NaN,NaN,NaN,NaN,NaN,NaN,107.25,114.31,7.61,30,113.13,119.16,8.64,20,96.25,100.38,46,112,116.35,8,>75,80,NaN,76,>90,NaN,26,>90,NaN,64,70-80,NaN,15,NaN,NaN,I_396,2016-08-01 00:00:00,NaN,NaN,10,5,5,3,5,2,9,2,1,3,1,1,1,29,A,13,NaN,12,NaN,12,5,8,NaN,NaN,NaN,80120168698444,2016-08-01 00:00:00,101,103,99,97,107,NaN,NaN,NaN,Complete

Tech respondents

In [14]:
tech_ix = datasheet.iloc[1:][datasheet.iloc[1:,3].notnull()].index

In [15]:
tech_ix

Int64Index([  6,  29,  51,  56,  78,  89, 100, 107, 118, 154, 184, 202, 217,
            226, 234, 242, 266, 277, 280, 286, 297, 303, 324, 337, 347, 352,
            359, 375, 387, 398, 411, 423, 433, 438, 445, 448, 460, 464, 470,
            474, 477, 496, 499, 502, 506, 509, 519, 522, 537, 540],
           dtype='int64')

In [16]:
tech_id = list(datasheet.iloc[tech_ix][0])

In [17]:
len(tech_id)

50

In [18]:
#each respondent responded to one prompt
len(tech_id) == len(set(tech_id))

True

Tech-exclusive respondents

In [19]:
#row indices of tech-respondents, mem-negligent
tech_x_ix = [tix for tix in tech_ix if tix not in memory_ix]

In [20]:
#record ids of tech-respondents who are mem-negligent
tech_x_ids = [tid for tid in tech_id if tid not in memory_id]

Mem-exclusive respondents

In [21]:
#mem respondents who are tech-negligent
[m for m in memory_id if m not in tech_id]

[]

Indices of all Respondent-rows, by record ID

In [22]:
#all rows for tech_respondents
tech_all_ix = [ix for ix in datasheet.index if datasheet.iloc[ix,0] in tech_id]

In [23]:
datasheet.iloc[tech_all_ix]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96
6,14,Baseline,When I was a little child I had the same exper...,I stay in touch with family and friends throug...,2015-02-26 00:00:00,NaN,35926,qjh,123.54,126.545,131.008,2048,114.984,120.673,2378,4,3,6,2,NaN,NaN,NaN,99.13,104.48,455.07,94.85,101.4,14,106.02,112.97,7.52,30,84.37,88.37,6.97,20,97.93,102.12,47,NaN,NaN,NaN,25-50,57,NaN,46,60-70,NaN,20,50-75,NaN,NaN,NaN,NaN,15,NaN,NaN,NaN,NaN,NaN,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,317201572669916,2015-03-17 00:00:00,102,99,103,93,116,NaN,NaN,NaN,Complete
7,14,FU Visit 2,NaN,NaN,2015-07-14 00:00:00,NaN,82858,NaN,126.32,124.077,129.483,2018,119.487,124.812,2448,4,8,9,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,122.73,127.93,8.87,27,113.43,119.36,8.65,20,122.25,126.13,60,77.81,80.25,5,<50,59,NaN,50,>70,NaN,16,25,NaN,90,30-40,NaN,15,NaN,NaN,NaN,NaN,NaN,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,702201572669916,2015-07-02 00:00:00,108,99,95,91,107,NaN,NaN,NaN,Complete
8,14,FU Visit 3,NaN,NaN,2016-03-07 00:00:00,NaN,48846,evf,132.09,132.171,135.169,2128,119.993,125.099,2457,2,7,8,3,9,1,50-75,NaN,NaN,NaN,NaN,NaN,NaN,125.63,131.41,9.22,30,116.99,122.7,8.84,20,122.25,126.13,60,112,116.35,8,50-75,69,2016-03-07 00:00:00,50,80-90,NaN,25,>90,NaN,95,60,NaN,15,NaN,NaN,I_340,2016-03-07 00:00:00,unscorable,NaN,9,4,5,3,5,3,9,2,1,3,1,1,1,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,307201672669916,2016-03-07 00:00:00,102,98,110,92,101,NaN,NaN,NaN,Complete
9,14,FU Visit 4,NaN,NaN,2016-08-25 00:00:00,NaN,94255,yua,126.02,132.98,136.123,2138,113.024,118.634,2344,7,9,11,9,11,0,>75,NaN,NaN,NaN,NaN,NaN,NaN,120.66,125.95,8.66,29,110.39,116.18,8.5,20,112.71,117.19,55,87.26,89.99,6,50,60,2016-08-25 00:00:00,45,70-80,NaN,16,25-50,NaN,95,50,NaN,15,NaN,NaN,I_410,2016-08-25 00:00:00,unscorable,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,A,10,NaN,8,NaN,12,1,8,NaN,NaN,NaN,702201572669916,2016-08-25 00:00:00,105,94,104,86,103,NaN,NaN,NaN,Complete
10,14,FU Visit 5,NaN,NaN,2017-02-17 00:00:00,NaN,45760,mur,134.39,134.534,139.433,2163,119.738,124.89,2452,5,6,8,5,11,2,50-75,NaN,NaN,NaN,NaN,NaN,NaN,116.47,122.56,8.27,29,116.44,122.32,8.8,20,116.53,120.58,57,98.2,101.73,7,50-75,71,2017-02-17 00:00:00,55,80-90,NaN,24,75-90,NaN,103,30,NaN,15,NaN,NaN,I_481,2017-02-17 00:00:00,NaN,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,B,8,NaN,6,NaN,12,3,5,NaN,NaN,NaN,217201772669916,2017-02-17 00:00:00,104,98,106,93,101,NaN,NaN,NaN,Complete
11,14,FU Visit 6,NaN,NaN,2017-09-15 00:00:00,NaN,84695,hfa,120.9,130.529,134.17,2111,105.981,113.037,2241,4,6,9,4,11,6,50-75,NaN,NaN,NaN,NaN,NaN,NaN,118.24,124.23,8.42,30,113.82,119.68,8.67,20,120.2,124.32,59,98.2,101.73,7,50-75,63,2017-09-15 00:00:00,40,40-50,NaN,18,25-50,NaN,84,50,NaN,15,NaN,NaN,I_597,2017-09-15 00:00:00,unscorable,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,A,11,NaN,11,NaN,NaN,NaN,NaN,12,5,11,217201772669916,2017-09-15 00:00:00,102,98,105,93,103,NaN,NaN,NaN,Complete
12,14,FU Visit 7,NaN,NaN,2018-04-16 00:00:00,NaN,12836,wtc,132.08,135.857,141.764,2189,114.399,120.015,2370,5,7,10,6,10,1,>75,NaN,NaN,NaN,NaN,NaN,NaN,119.76,125.35,8.56,30,108.67,114.54,8.41,20,125.84,129.77,62,98.2,101.73,7,50-75,61,2018-04-16 00:00:00,51,70-80,NaN,17,25-50,NaN,113,<10,NaN,15,NaN,NaN,NaN,NaN,NaN,NaN,9,4,5,3,5,2,9,2,1,3,1,1,1,28,B,10,NaN,9,NaN,12,5,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Complete
29,26,Baseline,"When I was very young, living in the Astoria n...",I'm a journalist who has covered the rise of t...,2015-02-03 00:00:00,RAVLT rec not administered,36080,NaN,148.32,145.587,151.803,2387,123.836,129.301,2536,5,9,12,3,NaN,NaN,>75,98.49,99.03,441.15,117.08,123.29,20,90.58,96.61,7.23,30,80.58,84.76,7.13,20,96.19,99.72,50,NaN,NaN,NaN,<25,56,NaN,53,80,NaN,26,>90,NaN,NaN,NaN,NaN,15,NaN,NaN,NaN,NaN,NaN,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1054,2015-02-03 00:00:00,113,112,100,100,103,NaN,NaN,NaN,Complete
30,26,FU Visit 2,NaN,NaN,2015-07-28 00:00:00,"No picture vocab administered and thus, no cry...",44535,zsk,NaN,NaN,NaN,NaN,129.854,135.427,2640,9,10,12,8,NaN,NaN,>75,NaN,NaN,NaN,NaN,NaN,NaN,121.51,126.15,9.46,30,113.78,120.39,9.2,20,110.67,114.71,58,58.4,58.2,2,50-75,66,2015-07-28 00:00:00,62,>90,NaN,29,75-90,NaN,37,>90,NaN,15,NaN,NaN,NaN,NaN,NaN,NaN,10,5,5,3,5,3,9,1,1,3,1,1,1,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,729201573990036,2015-07-29 00:00:00,NaN,107,79,96,60,NaN,NaN,NaN,Complete
31,26,FU Visit 3,NaN,NaN,2016-01-28 00:00:00,NaN,98969,zsk,153.68,145.569,151.758,2386,135.101,137.921,2761,7,9,10,8,13,2,>75,NaN,NaN,NaN,NaN,NaN,NaN,122.73,127.38,9.6,30,111.54,118.65,9.09,20,120.1,123.63,63,62.36,63.22,3,>75,75,2016-01-28 00:00:00,56,80-90,NaN,28,>90,NaN,37,>90,NaN,15,NaN,NaN,I_316,2016-01-28 00:00:00,0.609524,0.642857,9,4,5,3,5,3,9,2,1,3,1,1,1,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Complete
32,26,FU Visit 4,NaN,NaN,2017-05-25 00:00:00,NaN,29019,vkh,148.17,152.881,153.072,4770,123.75,129.061,2533,6,8,7,6,10,3,>75,NaN,NaN,NaN,NaN,NaN,NaN,115.15,120.71,8.89,30,120.41,125.91,9.58,20,129.39,132.36,68,68.65,68.82,4,>75,73,2017-05-25 00:00:00,52,70-80,NaN,33,>90,NaN,31,>90,NaN,15,NaN,NaN,I_538,2017-05-25 00:00:00,0.5652,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,A,14,NaN,16,NaN,12,5,8,NaN,NaN,NaN,525201773990036,2017-05-25 00:00:00,111,109,107,100,116,NaN,NaN,NaN,Complete
33,26,FU Visit 5,NaN,NaN,2017-11-13 00:00:00,NaN,61977,wfg,147.96,140.728,147.477,2309,123.426,128.831,2528,6,10,10,10,14,1,>75,NaN,NaN,NaN,NaN,NaN,NaN,113.48,119.09,8.75,30,115.1,121.91,9.26,20,118.29,121.92,62,74.88,75.49,5,>75,71,NaN,75,>90,NaN,29,>75,NaN,31,>90,NaN,15,NaN,NaN,I_639,2017-11-13 00:00:00,0.5922,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,B,14,NaN,13,NaN,NaN,NaN,NaN,12,5,11,525201773990036,2017-11-13 00:00:00,109,108,104,100,116,NaN,NaN,NaN,Complete
34,26,FU Visit 6,NaN,NaN,2018-05-03 00:00:00,NaN,55043,myr,153.68,145.58,151.786,2386,127.69,132.602,2605,8,12,13,9,11,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.84,125.72,9.39,30,113.95,120.61,9.2,20,131.16,134.34,69,52.83,53.36,1,>75,70,2018-05-03 00:00:00,72,>90,NaN,36,>90,NaN,36,>90,NaN,15,NaN,NaN,NaN,NaN,NaN,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,A,16,NaN,17,NaN,11,6,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Complete
51,64,Baseline,I went to Paris when I was 16. I was staying ...,My husband and I are on our computers all day ...,2015-05-08 00:00:00,No Rey recognition,61681,NaN,130.68,134.57,139.464,2163,115.002,120.701,2379,7,10,11,6,NaN,NaN,>75,NaN,NaN,NaN,NaN,NaN,NaN,116.76,122.84,8.3,30,113.97,119.91,8.68,20,122.25,126.13,60,132.15,137.68,9,50-75,62,NaN,47,60-70,NaN,22,75,NaN,84,50,NaN,15,NaN,NaN,S_53,2015-05-08 00:00:00,poor quality,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61620151847168,2015-06-16 00:00:00,NaN,NaN,80,96,61,NaN,NaN,NaN,Complete
52,64,FU Visit 2,NaN,NaN,2016-05-12 00:00:00,NaN,69554,kit,141.2,140.64,147.855,2259,122.158,127.398,2490,8,9,14,7,12,3,>75,NaN,NaN,NaN,NaN,NaN,NaN,126.19,131.8,9.27,30,112.75,118.81,8.62,20,122.25,126.13,60,132.15,137.68,9,>75,73,2016-05-12 00:00:00,47,80,NaN,27,>90,NaN,68,>90,NaN,15,NaN,NaN,I_359,2016-05-12 00:00:00,0.736857,NaN,9,4,5,3,5,3,9,2,1,3,1,1,1,29,A,7,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61620151847168,2016-04-01 00:00:00,NaN,104,81,102,62,NaN,NaN,NaN,Complete
53,64,FU Visit 3,NaN,NaN,2017-04-13 00:00:00,NaN,72366,uwh,139.65,144.575,99.9,2309,114.246,90.7,2367,6,10,11,10,14,1,>75,NaN,NaN,NaN,NaN,NaN,NaN,121.44,96.1,8.72,29,112.43,89.1,8.6,20,122.25,95.9,60,98.2,54.8,7,50-75,66,2017-04-13 00:00:00,44,50-60,NaN,23,75-90,NaN,76,60-70,NaN,15,NaN,NaN,I_515,2017-04-13 00:00:00,0.6759,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,B,19,NaN,15,NaN,12,4,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Complete
54,64,FU Visit 4,NaN,NaN,2018-03-20 00:00:00,"Had trouble moving through Cogstate, then ran ...",93468,ktr,131.08,134.404,139.185,2159,116.405,122.106,2402,6,7,9,6,10,2,>75,NaN,NaN,NaN,NaN,NaN,NaN,124.41,129.6,9.05,29,121.53,126.02,9.11,20,120.2,124.32,59,132.15,137.68,9,50-75,67,2018-03-20 00:00:00,58,80-90,NaN,25,90,NaN,93,30-40,NaN,15,NaN,NaN,I_707,2018-03-20 00:00:00,0.4791,NaN,9,4,5,3,5,3,8,2,1,2,1,1,1,28,A,13,NaN,9,NaN,NaN,NaN,NaN,12,5,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Complete
55,64,FU Visit 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Incomplete
56,67,Baseline,My husband and I had always wanted to go to Pa...,"I'm on the computer all the time, writing or r...",2015-03-17 00:00:00,No RAVLT recognition and Odor ID,56478,NaN,130.99,129.869,132.736,2131,120.448,123.786,2449,7,10,12,10,NaN,NaN,>75,NaN,NaN,NaN,NaN,NaN,NaN,80.55,83.58,6.04,29,82.62,86.65,7.28,20,72,75.96,36,NaN,NaN,NaN,25-50,62,2015-03-17 00:00:00,49,70,NaN,29,>90,NaN,72,20-30,NaN,14,NaN,NaN,I_11,2015-03-17 00:00:00,0.570714,0.6,10,5,5,3,5,3,9,1,1,3,1,1,1,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,325201574035660,2015-03-25 00:00:00,96,105,109,99,103,NaN,NaN,NaN,Complete
57,67,FU Visit 2,NaN,NaN,2016-01-05 00:00:00,NaN,46357,jju,124.15,130.219,133.115,2137,112.047,115.906,2313,7,12,13,13,14,0,>75,NaN,NaN,NaN,NaN,NaN,NaN,99.64,105.35,7.78,29,105.43,110.57,8.71,20,110.07,114.71,58,104.51,107.22,8,25-50,65,2016-01-05 00:00:00,49,70,NaN,23,75-90,NaN,62,40-50,NaN,15,NaN,NaN,I_281,2016-01-05 00:00:00,0.611996,0.611996,10,5,5,3,5,3,9,2,1,3,1,1,1,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,325201574035660,2015-12-28 00:00:00,108,109,98,107,116,NaN,NaN,NaN,Complete
58,67,FU Visit 3,NaN,NaN,2016-07-12 00:00:00,NaN,37794,xya,123.67,130.18,132.994,2135,111.365,115.345,2303,9,14,14,14,14,0,>75,NaN,NaN,NaN,NaN,NaN,NaN,96.33,102.24,7.59,29,103.82,108.68,8.63,20,104.57,108.89,55,92.21,94.22,7,50,69,2016-07-12 00:00:00,51,70-80,NaN,35,>90,NaN,54,80-90,NaN,15,NaN,NaN,I_383,2016-07-12 00:00:00,0.826154,0.826154,10,5,5,3,5,3,9,2,1,3,1,1,1,30,A,15,NaN,11,NaN,12,8,12,NaN,NaN,NaN,628201674035660,2016-06-28 00:00:00,94,101,109,95,103,NaN,NaN,NaN,Complete
59,67,FU Visit 4,NaN,NaN,2017-01-10 00:00:00,NaN,25553,arg,122.24,130.193,133.054,2136,109.451,113.945,2278,11,14,15,15,15,0,>75,NaN,NaN,-99,NaN,NaN,NaN,110.71,115.87,8.51,30,112.61,118.14,9.07,20,123.38,127.74,65,104.51,107.22,8,50-75,74,2017-01-10 00:00:00,61,>90,NaN,29,>90,NaN,61,60-70,NaN,15,NaN,NaN,I_460,2017-01-10 00:00:00,unscorable,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,B,20,NaN,19,NaN,12,9,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Complete
60,67,FU Visit 5,NaN,NaN,2017-07-11 00:00:00,NaN,94658,ggh,124.92,130.193,133.054,2136,113.688,117.583,2340,11,15,15,15,15,0,>75,NaN,NaN,NaN,NaN,NaN,NaN,106.57,112.3,8.24,30,111.9,117.36,9.03,20,123.38,127.74,65,120.99,126.63,9,50-75,71,NaN,52,70-80,NaN,32,>90,NaN,50,>90,NaN,15,NaN,NaN,I_559,2017-07-11 00:00:00,0.5529,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,A,17,NaN,18,NaN,NaN,NaN,NaN,12,7,11,711201774035660,2017-07-11 00:00:00,99,103,109,94,107,NaN,NaN,NaN,Complete
61,67,FU Visit 6,NaN,NaN,2018-01-23 00:00:00,NaN,92106,rtf,132.03,132.22,134.159,2163,118.041,121.941,2414,10,15,15,15,15,0,>75,NaN,NaN,NaN,NaN,NaN,NaN,102.84,108.6,7.99,29,115.83,121.37,9.23,20,125.21,129.44,66,120.99,126.63,9,50-75,72,NaN,60,>90,NaN,31,>90,NaN,55,80-90,NaN,15,NaN,NaN,I_680,2018-01-23 00:00:00,unscorable,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,B,22,NaN,21,NaN,12,11,12,NaN,NaN,NaN,711201774035660,2018-01-23 00:00:00,95,103,113,96,116,NaN,NaN,NaN,Complete
62,67,FU Visit 7,NaN,NaN,2018-07-17 00:00:00,NaN,700154,dat,129.38,130.185,133.017,2135,118.246,122.004,2417,12,15,15,15,15,0,>75,NaN,NaN,NaN,NaN,NaN,NaN,109.39,114.81,8.43,29,114.49,119.99,9.16,20,129.09,132.36,68,81.59,84.13,6,50-75,70,NaN,60,>90,NaN,33,>90,NaN,46,>90,NaN,15,NaN,NaN,NaN,NaN,NaN,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,A,19,NaN,18,NaN,NaN,NaN,NaN,12,7,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Complete
78,101,Baseline,I was born in Hungary. A significant memory is...,My use of social media is minimal. I only use ...,2015-03-06 00:00:00,No RAVLT rec and Odor ID,52303,NaN,123.55,117.09,121.136,1967,120.986,124.254,2455,6,9,10,7,NaN,NaN,>75,NaN,NaN,NaN,97.45,103.11,16,92.3,97.7,7.31,29,78.6,81.54,6.8,20,88.52,92.83,46,NaN,NaN,NaN,25-50,60,NaN,30,2018-10-20 00:00:00,NaN,11,<10,NaN,66,60-70,NaN,13,NaN,NaN,I_00,2015-03-06 00:00:00,0.470714,0.5,10,5,5,3,5,2,9,2,1,3,1,1,1,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,422201573922344,2015-04-22 00:00:00,NaN,113,72,NaN,NaN,NaN,NaN,NaN,Complete
79,101,FU Visit 2,NaN,NaN,2015-12-01 00:00:00,NaN,92512,ncd,127.21,117.151,121.249,1968,123.382,126.614,2498,7,9,12,8,15,0,>75,NaN,NaN,NaN,NaN,NaN,NaN,99.04,104.8,7.74,30,109.75,115.5,8.93,20,140.49,143.61,77,104.51,107.22,8,25-50,68,2015-12-01 00:00:00,42,50-60,NaN,26,>90,NaN,60,70-80,NaN,15,NaN,NaN,I_243,2015-12-01 00:00:00,0.559524,0.571429,10,5,5,3,5,3,9,2,1,3,1,1,1,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Complete
80,101,FU Visit 3,NaN,NaN,2016-08-16 00:00:00,NaN,91156,aen,120.89,122.422,126.269,2031,113.873,117.76,2343,6,10,12,11,14,2,>75,NaN,NaN,NaN,NaN,NaN,NaN,109.73,115.16,8.45,29,115.54,120.97,9.21,20,133.6,136.73,71,104.51,107.22,8,50-75,74,2016-08-16 00:00:00,50,70-80,NaN,27,>90,NaN,57,80,NaN,15,NaN,NaN,I_408,2016-08-16 00:00:00,0.478095,0.478095,10,5,5,3,5,3,9,2,1,3,1,1,1,30,A,11,NaN,8,NaN,11,5,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Complete
81,101,FU Visit 4,NaN,NaN,2017-02-17 00:00:00,NaN,38910,szx,125.85,123.232,126.767,2041,119.682,123.231,2436,8,12,13,10,14,2,>75,NaN,NaN,NaN,NaN,NaN,NaN,115.47,120.49,8.87,29,112.58,118.1,9.06,19,139.68,142.89,76,120.99,126.63,9,25-50,68,2017-02-17 00:00:00,52,70-80,NaN,27,>90,NaN,59,70-80,NaN,15,NaN,NaN,I_480,2017-02-17 00:00:00,0.562143,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,B,13,NaN,10,NaN,12,4,9,NaN,NaN,NaN,217201773922344,2017-02-17 00:00:00,104,107,109,98,107,NaN,NaN,NaN,Complete
82,101,FU Visit 5,NaN,NaN,2017-08-25 00:00:00,NaN,97761,nem,126.36,128,131.188,2104,117.106,120.573,2395,8,12,9,10,15,2,>75,NaN,NaN,NaN,NaN,NaN,NaN,119.8,124.56,9.24,29,113.32,119.02,9.1,19,140.49,143.61,77,81.59,84.13,6,>75,77,2017-08-25 00:00:00,55,80-90,NaN,25,90,NaN,53,80-90,NaN,15,NaN,NaN,I_584,2017-08-25 00:00:00,0.579,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,A,15,NaN,12,NaN,NaN,NaN,NaN,12,8,12,217201773922344,2017-08-25 00:00:00,111,111,105,101,116,NaN,NaN,NaN,Complete
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
479,587,FU Visit 3,NaN,NaN,2017-09-22 00:00:00,NaN,83777,bdz,149.98,139.11,145.793,2221,129.459,132.647,2579,12,15,15,15,15,0,>75,NaN,NaN,NaN,NaN,NaN,NaN,114.92,119.94,9.75,28,116.77,121.98,9.9,20,139.77,143.14,86,108.91,111.41,9,>75,129,NaN,61,90,NaN,30,90,NaN,20,>90,NaN,15,NaN,NaN,I_605,2017-09-22 00:00:00,0.6334,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,A,21,NaN,20,NaN,NaN,NaN,NaN,12,10,12,922201778147664,2017-09-22 00:00:00,107,110,123,107,116,NaN,NaN,NaN,Complete
480,587,FU Visit 4,NaN,NaN,2018-03-12 00:00:00,NaN,88448,wgu,153.68,145.317,151.05,2308,130.494,134.593,2607,9,15,15,15,15,0,>75,NaN,NaN,NaN,NaN,NaN,NaN,105.18,110.9,9.08,28,112.13,117.31,9.66,20,140.62,143.88,87,108.91,111.41,9,>75,124,NaN,59,80-90,NaN,30,90,NaN,30,>90,NaN,15,NaN,NaN,I_702,2018-03-12 00:00:00,0.6361,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,B,25,NaN,25,NaN,12,12,12,NaN,NaN,NaN,922201778147664,2018-03-12 00:00:00,113,110,127,106,106,NaN,NaN,NaN,Complete
496,602,Baseline,This is too much pressure for a writer.,Okay... I'll combine a bit of question 1 with ...,2016-09-22 00:00:00,NaN,77049,ypb,116.16,111.652,117.298,1854,115.592,119.621,2354,5,10,12,10,11,2,50-75,NaN,NaN,NaN,NaN,NaN,NaN,99.85,105.48,8.72,29,97.54,101.72,8.94,20,83.35,88.33,53,95.71,98.04,8,75,90,2016-09-22 00:00:00,58,>90,NaN,34,>90,NaN,40,90,NaN,15,NaN,NaN,I_422,2016-09-22 00:00:00,0.482143,NaN,10,5,5,3,5,2,9,2,1,3,1,1,1,29,A,11,NaN,10,NaN,12,3,10,NaN,NaN,NaN,922201679050340,2016-09-22 00:00:00,108,105,114,94,106,NaN,NaN,NaN,Complete
497,602,FU Visit 2,NaN,NaN,2017-12-19 00:00:00,NaN,52253,sez,109.8,106.526,112.413,1797,110.092,114.829,2268,7,8,10,8,13,1,25-50,NaN,NaN,NaN,NaN,NaN,NaN,97.52,103.15,8.59,30,87.98,91.9,8.35,20,103.2,107.94,64,108.91,111.41,9,50-75,90,2017-12-19 00:00:00,64,>90,NaN,26,75-90,NaN,72,2018-10-20 00:00:00,NaN,14,NaN,NaN,I_663,2017-12-19 00:00:00,NaN,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,B,13,NaN,10,NaN,NaN,NaN,NaN,12,8,11,922201679050340,2017-12-19 00:00:00,108,110,100,101,102,NaN,NaN,NaN,Complete
498,602,FU Visit 3,NaN,NaN,2018-08-03 00:00:00,NaN,97931,fzk,125.52,112.242,117.814,1861,124.778,129.055,2506,6,10,12,6,12,5,>75,NaN,NaN,NaN,NaN,NaN,NaN,103.41,109.13,8.96,30,98.44,102.91,8.99,20,101.57,105.92,63,108.91,111.41,9,>75,91,NaN,56,80-90,NaN,23,50,NaN,50,70,NaN,15,NaN,NaN,I_750,2018-08-03 00:00:00,NaN,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,A,13,NaN,7,NaN,12,7,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Complete
499,603,Baseline,My mother's best friend drove a convertible. ...,"I use a computer for emails, work, research an...",2014-12-23 00:00:00,Odor ID and Trails B not administered,2215,NaN,111.02,101.904,108.231,1765,114.245,119.064,2379,13,13,14,13,NaN,NaN,>75,NaN,NaN,NaN,NaN,NaN,NaN,87.55,93.03,7.66,28,82.8,86.68,7.8,20,106.51,111.03,63,NaN,NaN,NaN,50-75,85,2014-12-23 00:00:00,51,70,NaN,22,25-50,NaN,NaN,NaN,NaN,15,NaN,NaN,NaN,NaN,NaN,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1034,2014-12-23 00:00:00,100,111,117,105,116,NaN,NaN,NaN,Complete
500,603,FU Visit 2,NaN,NaN,2016-08-18 00:00:00,NaN,30768,NaN,119.17,123.733,127.49,2009,109.856,115.377,2312,8,13,15,14,14,1,>75,NaN,NaN,NaN,NaN,NaN,NaN,116.93,121.99,9.69,29,110.07,115.64,9.45,20,139.19,142.05,82,108.47,112.39,9,50-75,91,2016-08-18 00:00:00,53,70-80,NaN,24,50-75,NaN,50,80,NaN,15,NaN,NaN,NaN,NaN,NaN,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,A,17,NaN,18,NaN,11,7,10,NaN,NaN,NaN,818201673917856,2016-08-18 00:00:00,NaN,107,114,104,116,NaN,NaN,NaN,Complete
501,603,FU Visit 3,NaN,NaN,2017-08-28 00:00:00,NaN,52289,pkg,120.72,124.42,128.475,2018,111.337,116.441,2331,6,11,14,12,15,2,>75,NaN,NaN,NaN,NaN,NaN,NaN,113.3,118.57,9.39,30,114.58,119.96,9.67,20,139.19,142.05,82,84.84,87.7,7,>75,95,2017-08-28 00:00:00,49,60,NaN,30,90,NaN,49,80-90,NaN,15,NaN,NaN,I_587,2017-08-28 00:00:00,NaN,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,B,22,NaN,20,NaN,NaN,NaN,NaN,12,12,12,818201673917856,2017-08-28 00:00:00,91,107,120,104,107,NaN,NaN,NaN,Complete
502,604,Baseline,"When I visited relatives in Alabama, I enjo...",Technology is a time killer that speeds everyt...,2016-10-04 00:00:00,NaN,20883,age,118.79,121.058,127.039,1992,112.239,119.604,2362,9,12,15,13,15,0,>75,NaN,NaN,NaN,NaN,NaN,NaN,116.34,122.94,8.31,30,107.42,114.91,8.43,20,86.31,89.98,40,101.37,101.73,7,>75,73,2016-10-04 00:00:00,35,40-50,NaN,19,50,NaN,55,>90,NaN,14,NaN,NaN,I_428,2016-10-04 00:00:00,0.599322,NaN,10,5,5,3,5,3,9,2,0,3,1,1,1,29,A,13,NaN,15,NaN,12,1,10,NaN,NaN,NaN,100520161301933,2016-10-05 00:00:00,NaN,124,78,100,61,NaN,NaN,NaN,Complete

In [24]:
mem_all_ix = [ix for ix in datasheet.index if datasheet.iloc[ix,0] in memory_id]

In [25]:
datasheet.iloc[mem_all_ix]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96
6,14,Baseline,When I was a little child I had the same exper...,I stay in touch with family and friends throug...,2015-02-26 00:00:00,NaN,35926,qjh,123.54,126.545,131.008,2048,114.984,120.673,2378,4,3,6,2,NaN,NaN,NaN,99.13,104.48,455.07,94.85,101.4,14,106.02,112.97,7.52,30,84.37,88.37,6.97,20,97.93,102.12,47,NaN,NaN,NaN,25-50,57,NaN,46,60-70,NaN,20,50-75,NaN,NaN,NaN,NaN,15,NaN,NaN,NaN,NaN,NaN,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,317201572669916,2015-03-17 00:00:00,102,99,103,93,116,NaN,NaN,NaN,Complete
7,14,FU Visit 2,NaN,NaN,2015-07-14 00:00:00,NaN,82858,NaN,126.32,124.077,129.483,2018,119.487,124.812,2448,4,8,9,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,122.73,127.93,8.87,27,113.43,119.36,8.65,20,122.25,126.13,60,77.81,80.25,5,<50,59,NaN,50,>70,NaN,16,25,NaN,90,30-40,NaN,15,NaN,NaN,NaN,NaN,NaN,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,702201572669916,2015-07-02 00:00:00,108,99,95,91,107,NaN,NaN,NaN,Complete
8,14,FU Visit 3,NaN,NaN,2016-03-07 00:00:00,NaN,48846,evf,132.09,132.171,135.169,2128,119.993,125.099,2457,2,7,8,3,9,1,50-75,NaN,NaN,NaN,NaN,NaN,NaN,125.63,131.41,9.22,30,116.99,122.7,8.84,20,122.25,126.13,60,112,116.35,8,50-75,69,2016-03-07 00:00:00,50,80-90,NaN,25,>90,NaN,95,60,NaN,15,NaN,NaN,I_340,2016-03-07 00:00:00,unscorable,NaN,9,4,5,3,5,3,9,2,1,3,1,1,1,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,307201672669916,2016-03-07 00:00:00,102,98,110,92,101,NaN,NaN,NaN,Complete
9,14,FU Visit 4,NaN,NaN,2016-08-25 00:00:00,NaN,94255,yua,126.02,132.98,136.123,2138,113.024,118.634,2344,7,9,11,9,11,0,>75,NaN,NaN,NaN,NaN,NaN,NaN,120.66,125.95,8.66,29,110.39,116.18,8.5,20,112.71,117.19,55,87.26,89.99,6,50,60,2016-08-25 00:00:00,45,70-80,NaN,16,25-50,NaN,95,50,NaN,15,NaN,NaN,I_410,2016-08-25 00:00:00,unscorable,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,A,10,NaN,8,NaN,12,1,8,NaN,NaN,NaN,702201572669916,2016-08-25 00:00:00,105,94,104,86,103,NaN,NaN,NaN,Complete
10,14,FU Visit 5,NaN,NaN,2017-02-17 00:00:00,NaN,45760,mur,134.39,134.534,139.433,2163,119.738,124.89,2452,5,6,8,5,11,2,50-75,NaN,NaN,NaN,NaN,NaN,NaN,116.47,122.56,8.27,29,116.44,122.32,8.8,20,116.53,120.58,57,98.2,101.73,7,50-75,71,2017-02-17 00:00:00,55,80-90,NaN,24,75-90,NaN,103,30,NaN,15,NaN,NaN,I_481,2017-02-17 00:00:00,NaN,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,B,8,NaN,6,NaN,12,3,5,NaN,NaN,NaN,217201772669916,2017-02-17 00:00:00,104,98,106,93,101,NaN,NaN,NaN,Complete
11,14,FU Visit 6,NaN,NaN,2017-09-15 00:00:00,NaN,84695,hfa,120.9,130.529,134.17,2111,105.981,113.037,2241,4,6,9,4,11,6,50-75,NaN,NaN,NaN,NaN,NaN,NaN,118.24,124.23,8.42,30,113.82,119.68,8.67,20,120.2,124.32,59,98.2,101.73,7,50-75,63,2017-09-15 00:00:00,40,40-50,NaN,18,25-50,NaN,84,50,NaN,15,NaN,NaN,I_597,2017-09-15 00:00:00,unscorable,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,A,11,NaN,11,NaN,NaN,NaN,NaN,12,5,11,217201772669916,2017-09-15 00:00:00,102,98,105,93,103,NaN,NaN,NaN,Complete
12,14,FU Visit 7,NaN,NaN,2018-04-16 00:00:00,NaN,12836,wtc,132.08,135.857,141.764,2189,114.399,120.015,2370,5,7,10,6,10,1,>75,NaN,NaN,NaN,NaN,NaN,NaN,119.76,125.35,8.56,30,108.67,114.54,8.41,20,125.84,129.77,62,98.2,101.73,7,50-75,61,2018-04-16 00:00:00,51,70-80,NaN,17,25-50,NaN,113,<10,NaN,15,NaN,NaN,NaN,NaN,NaN,NaN,9,4,5,3,5,2,9,2,1,3,1,1,1,28,B,10,NaN,9,NaN,12,5,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Complete
29,26,Baseline,"When I was very young, living in the Astoria n...",I'm a journalist who has covered the rise of t...,2015-02-03 00:00:00,RAVLT rec not administered,36080,NaN,148.32,145.587,151.803,2387,123.836,129.301,2536,5,9,12,3,NaN,NaN,>75,98.49,99.03,441.15,117.08,123.29,20,90.58,96.61,7.23,30,80.58,84.76,7.13,20,96.19,99.72,50,NaN,NaN,NaN,<25,56,NaN,53,80,NaN,26,>90,NaN,NaN,NaN,NaN,15,NaN,NaN,NaN,NaN,NaN,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1054,2015-02-03 00:00:00,113,112,100,100,103,NaN,NaN,NaN,Complete
30,26,FU Visit 2,NaN,NaN,2015-07-28 00:00:00,"No picture vocab administered and thus, no cry...",44535,zsk,NaN,NaN,NaN,NaN,129.854,135.427,2640,9,10,12,8,NaN,NaN,>75,NaN,NaN,NaN,NaN,NaN,NaN,121.51,126.15,9.46,30,113.78,120.39,9.2,20,110.67,114.71,58,58.4,58.2,2,50-75,66,2015-07-28 00:00:00,62,>90,NaN,29,75-90,NaN,37,>90,NaN,15,NaN,NaN,NaN,NaN,NaN,NaN,10,5,5,3,5,3,9,1,1,3,1,1,1,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,729201573990036,2015-07-29 00:00:00,NaN,107,79,96,60,NaN,NaN,NaN,Complete
31,26,FU Visit 3,NaN,NaN,2016-01-28 00:00:00,NaN,98969,zsk,153.68,145.569,151.758,2386,135.101,137.921,2761,7,9,10,8,13,2,>75,NaN,NaN,NaN,NaN,NaN,NaN,122.73,127.38,9.6,30,111.54,118.65,9.09,20,120.1,123.63,63,62.36,63.22,3,>75,75,2016-01-28 00:00:00,56,80-90,NaN,28,>90,NaN,37,>90,NaN,15,NaN,NaN,I_316,2016-01-28 00:00:00,0.609524,0.642857,9,4,5,3,5,3,9,2,1,3,1,1,1,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Complete
32,26,FU Visit 4,NaN,NaN,2017-05-25 00:00:00,NaN,29019,vkh,148.17,152.881,153.072,4770,123.75,129.061,2533,6,8,7,6,10,3,>75,NaN,NaN,NaN,NaN,NaN,NaN,115.15,120.71,8.89,30,120.41,125.91,9.58,20,129.39,132.36,68,68.65,68.82,4,>75,73,2017-05-25 00:00:00,52,70-80,NaN,33,>90,NaN,31,>90,NaN,15,NaN,NaN,I_538,2017-05-25 00:00:00,0.5652,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,A,14,NaN,16,NaN,12,5,8,NaN,NaN,NaN,525201773990036,2017-05-25 00:00:00,111,109,107,100,116,NaN,NaN,NaN,Complete
33,26,FU Visit 5,NaN,NaN,2017-11-13 00:00:00,NaN,61977,wfg,147.96,140.728,147.477,2309,123.426,128.831,2528,6,10,10,10,14,1,>75,NaN,NaN,NaN,NaN,NaN,NaN,113.48,119.09,8.75,30,115.1,121.91,9.26,20,118.29,121.92,62,74.88,75.49,5,>75,71,NaN,75,>90,NaN,29,>75,NaN,31,>90,NaN,15,NaN,NaN,I_639,2017-11-13 00:00:00,0.5922,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,B,14,NaN,13,NaN,NaN,NaN,NaN,12,5,11,525201773990036,2017-11-13 00:00:00,109,108,104,100,116,NaN,NaN,NaN,Complete
34,26,FU Visit 6,NaN,NaN,2018-05-03 00:00:00,NaN,55043,myr,153.68,145.58,151.786,2386,127.69,132.602,2605,8,12,13,9,11,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.84,125.72,9.39,30,113.95,120.61,9.2,20,131.16,134.34,69,52.83,53.36,1,>75,70,2018-05-03 00:00:00,72,>90,NaN,36,>90,NaN,36,>90,NaN,15,NaN,NaN,NaN,NaN,NaN,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,A,16,NaN,17,NaN,11,6,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Complete
51,64,Baseline,I went to Paris when I was 16. I was staying ...,My husband and I are on our computers all day ...,2015-05-08 00:00:00,No Rey recognition,61681,NaN,130.68,134.57,139.464,2163,115.002,120.701,2379,7,10,11,6,NaN,NaN,>75,NaN,NaN,NaN,NaN,NaN,NaN,116.76,122.84,8.3,30,113.97,119.91,8.68,20,122.25,126.13,60,132.15,137.68,9,50-75,62,NaN,47,60-70,NaN,22,75,NaN,84,50,NaN,15,NaN,NaN,S_53,2015-05-08 00:00:00,poor quality,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61620151847168,2015-06-16 00:00:00,NaN,NaN,80,96,61,NaN,NaN,NaN,Complete
52,64,FU Visit 2,NaN,NaN,2016-05-12 00:00:00,NaN,69554,kit,141.2,140.64,147.855,2259,122.158,127.398,2490,8,9,14,7,12,3,>75,NaN,NaN,NaN,NaN,NaN,NaN,126.19,131.8,9.27,30,112.75,118.81,8.62,20,122.25,126.13,60,132.15,137.68,9,>75,73,2016-05-12 00:00:00,47,80,NaN,27,>90,NaN,68,>90,NaN,15,NaN,NaN,I_359,2016-05-12 00:00:00,0.736857,NaN,9,4,5,3,5,3,9,2,1,3,1,1,1,29,A,7,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61620151847168,2016-04-01 00:00:00,NaN,104,81,102,62,NaN,NaN,NaN,Complete
53,64,FU Visit 3,NaN,NaN,2017-04-13 00:00:00,NaN,72366,uwh,139.65,144.575,99.9,2309,114.246,90.7,2367,6,10,11,10,14,1,>75,NaN,NaN,NaN,NaN,NaN,NaN,121.44,96.1,8.72,29,112.43,89.1,8.6,20,122.25,95.9,60,98.2,54.8,7,50-75,66,2017-04-13 00:00:00,44,50-60,NaN,23,75-90,NaN,76,60-70,NaN,15,NaN,NaN,I_515,2017-04-13 00:00:00,0.6759,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,B,19,NaN,15,NaN,12,4,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Complete
54,64,FU Visit 4,NaN,NaN,2018-03-20 00:00:00,"Had trouble moving through Cogstate, then ran ...",93468,ktr,131.08,134.404,139.185,2159,116.405,122.106,2402,6,7,9,6,10,2,>75,NaN,NaN,NaN,NaN,NaN,NaN,124.41,129.6,9.05,29,121.53,126.02,9.11,20,120.2,124.32,59,132.15,137.68,9,50-75,67,2018-03-20 00:00:00,58,80-90,NaN,25,90,NaN,93,30-40,NaN,15,NaN,NaN,I_707,2018-03-20 00:00:00,0.4791,NaN,9,4,5,3,5,3,8,2,1,2,1,1,1,28,A,13,NaN,9,NaN,NaN,NaN,NaN,12,5,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Complete
55,64,FU Visit 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Incomplete
56,67,Baseline,My husband and I had always wanted to go to Pa...,"I'm on the computer all the time, writing or r...",2015-03-17 00:00:00,No RAVLT recognition and Odor ID,56478,NaN,130.99,129.869,132.736,2131,120.448,123.786,2449,7,10,12,10,NaN,NaN,>75,NaN,NaN,NaN,NaN,NaN,NaN,80.55,83.58,6.04,29,82.62,86.65,7.28,20,72,75.96,36,NaN,NaN,NaN,25-50,62,2015-03-17 00:00:00,49,70,NaN,29,>90,NaN,72,20-30,NaN,14,NaN,NaN,I_11,2015-03-17 00:00:00,0.570714,0.6,10,5,5,3,5,3,9,1,1,3,1,1,1,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,325201574035660,2015-03-25 00:00:00,96,105,109,99,103,NaN,NaN,NaN,Complete
57,67,FU Visit 2,NaN,NaN,2016-01-05 00:00:00,NaN,46357,jju,124.15,130.219,133.115,2137,112.047,115.906,2313,7,12,13,13,14,0,>75,NaN,NaN,NaN,NaN,NaN,NaN,99.64,105.35,7.78,29,105.43,110.57,8.71,20,110.07,114.71,58,104.51,107.22,8,25-50,65,2016-01-05 00:00:00,49,70,NaN,23,75-90,NaN,62,40-50,NaN,15,NaN,NaN,I_281,2016-01-05 00:00:00,0.611996,0.611996,10,5,5,3,5,3,9,2,1,3,1,1,1,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,325201574035660,2015-12-28 00:00:00,108,109,98,107,116,NaN,NaN,NaN,Complete
58,67,FU Visit 3,NaN,NaN,2016-07-12 00:00:00,NaN,37794,xya,123.67,130.18,132.994,2135,111.365,115.345,2303,9,14,14,14,14,0,>75,NaN,NaN,NaN,NaN,NaN,NaN,96.33,102.24,7.59,29,103.82,108.68,8.63,20,104.57,108.89,55,92.21,94.22,7,50,69,2016-07-12 00:00:00,51,70-80,NaN,35,>90,NaN,54,80-90,NaN,15,NaN,NaN,I_383,2016-07-12 00:00:00,0.826154,0.826154,10,5,5,3,5,3,9,2,1,3,1,1,1,30,A,15,NaN,11,NaN,12,8,12,NaN,NaN,NaN,628201674035660,2016-06-28 00:00:00,94,101,109,95,103,NaN,NaN,NaN,Complete
59,67,FU Visit 4,NaN,NaN,2017-01-10 00:00:00,NaN,25553,arg,122.24,130.193,133.054,2136,109.451,113.945,2278,11,14,15,15,15,0,>75,NaN,NaN,-99,NaN,NaN,NaN,110.71,115.87,8.51,30,112.61,118.14,9.07,20,123.38,127.74,65,104.51,107.22,8,50-75,74,2017-01-10 00:00:00,61,>90,NaN,29,>90,NaN,61,60-70,NaN,15,NaN,NaN,I_460,2017-01-10 00:00:00,unscorable,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,B,20,NaN,19,NaN,12,9,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Complete
60,67,FU Visit 5,NaN,NaN,2017-07-11 00:00:00,NaN,94658,ggh,124.92,130.193,133.054,2136,113.688,117.583,2340,11,15,15,15,15,0,>75,NaN,NaN,NaN,NaN,NaN,NaN,106.57,112.3,8.24,30,111.9,117.36,9.03,20,123.38,127.74,65,120.99,126.63,9,50-75,71,NaN,52,70-80,NaN,32,>90,NaN,50,>90,NaN,15,NaN,NaN,I_559,2017-07-11 00:00:00,0.5529,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,A,17,NaN,18,NaN,NaN,NaN,NaN,12,7,11,711201774035660,2017-07-11 00:00:00,99,103,109,94,107,NaN,NaN,NaN,Complete
61,67,FU Visit 6,NaN,NaN,2018-01-23 00:00:00,NaN,92106,rtf,132.03,132.22,134.159,2163,118.041,121.941,2414,10,15,15,15,15,0,>75,NaN,NaN,NaN,NaN,NaN,NaN,102.84,108.6,7.99,29,115.83,121.37,9.23,20,125.21,129.44,66,120.99,126.63,9,50-75,72,NaN,60,>90,NaN,31,>90,NaN,55,80-90,NaN,15,NaN,NaN,I_680,2018-01-23 00:00:00,unscorable,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,B,22,NaN,21,NaN,12,11,12,NaN,NaN,NaN,711201774035660,2018-01-23 00:00:00,95,103,113,96,116,NaN,NaN,NaN,Complete
62,67,FU Visit 7,NaN,NaN,2018-07-17 00:00:00,NaN,700154,dat,129.38,130.185,133.017,2135,118.246,122.004,2417,12,15,15,15,15,0,>75,NaN,NaN,NaN,NaN,NaN,NaN,109.39,114.81,8.43,29,114.49,119.99,9.16,20,129.09,132.36,68,81.59,84.13,6,50-75,70,NaN,60,>90,NaN,33,>90,NaN,46,>90,NaN,15,NaN,NaN,NaN,NaN,NaN,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,A,19,NaN,18,NaN,NaN,NaN,NaN,12,7,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Complete
78,101,Baseline,I was born in Hungary. A significant memory is...,My use of social media is minimal. I only use ...,2015-03-06 00:00:00,No RAVLT rec and Odor ID,52303,NaN,123.55,117.09,121.136,1967,120.986,124.254,2455,6,9,10,7,NaN,NaN,>75,NaN,NaN,NaN,97.45,103.11,16,92.3,97.7,7.31,29,78.6,81.54,6.8,20,88.52,92.83,46,NaN,NaN,NaN,25-50,60,NaN,30,2018-10-20 00:00:00,NaN,11,<10,NaN,66,60-70,NaN,13,NaN,NaN,I_00,2015-03-06 00:00:00,0.470714,0.5,10,5,5,3,5,2,9,2,1,3,1,1,1,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,422201573922344,2015-04-22 00:00:00,NaN,113,72,NaN,NaN,NaN,NaN,NaN,Complete
79,101,FU Visit 2,NaN,NaN,2015-12-01 00:00:00,NaN,92512,ncd,127.21,117.151,121.249,1968,123.382,126.614,2498,7,9,12,8,15,0,>75,NaN,NaN,NaN,NaN,NaN,NaN,99.04,104.8,7.74,30,109.75,115.5,8.93,20,140.49,143.61,77,104.51,107.22,8,25-50,68,2015-12-01 00:00:00,42,50-60,NaN,26,>90,NaN,60,70-80,NaN,15,NaN,NaN,I_243,2015-12-01 00:00:00,0.559524,0.571429,10,5,5,3,5,3,9,2,1,3,1,1,1,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Complete
80,101,FU Visit 3,NaN,NaN,2016-08-16 00:00:00,NaN,91156,aen,120.89,122.422,126.269,2031,113.873,117.76,2343,6,10,12,11,14,2,>75,NaN,NaN,NaN,NaN,NaN,NaN,109.73,115.16,8.45,29,115.54,120.97,9.21,20,133.6,136.73,71,104.51,107.22,8,50-75,74,2016-08-16 00:00:00,50,70-80,NaN,27,>90,NaN,57,80,NaN,15,NaN,NaN,I_408,2016-08-16 00:00:00,0.478095,0.478095,10,5,5,3,5,3,9,2,1,3,1,1,1,30,A,11,NaN,8,NaN,11,5,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Complete
81,101,FU Visit 4,NaN,NaN,2017-02-17 00:00:00,NaN,38910,szx,125.85,123.232,126.767,2041,119.682,123.231,2436,8,12,13,10,14,2,>75,NaN,NaN,NaN,NaN,NaN,NaN,115.47,120.49,8.87,29,112.58,118.1,9.06,19,139.68,142.89,76,120.99,126.63,9,25-50,68,2017-02-17 00:00:00,52,70-80,NaN,27,>90,NaN,59,70-80,NaN,15,NaN,NaN,I_480,2017-02-17 00:00:00,0.562143,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,B,13,NaN,10,NaN,12,4,9,NaN,NaN,NaN,217201773922344,2017-02-17 00:00:00,104,107,109,98,107,NaN,NaN,NaN,Complete
82,101,FU Visit 5,NaN,NaN,2017-08-25 00:00:00,NaN,97761,nem,126.36,128,131.188,2104,117.106,120.573,2395,8,12,9,10,15,2,>75,NaN,NaN,NaN,NaN,NaN,NaN,119.8,124.56,9.24,29,113.32,119.02,9.1,19,140.49,143.61,77,81.59,84.13,6,>75,77,2017-08-25 00:00:00,55,80-90,NaN,25,90,NaN,53,80-90,NaN,15,NaN,NaN,I_584,2017-08-25 00:00:00,0.579,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,A,15,NaN,12,NaN,NaN,NaN,NaN,12,8,12,217201773922344,2017-08-25 00:00:00,111,111,105,101,116,NaN,NaN,NaN,Complete
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476,583,FU Visit 3,NaN,NaN,2017-11-20 00:00:00,NaN,43193,rbp,127.64,125.837,131.615,2068,120.564,125.722,2443,7,14,15,15,15,0,>75,NaN,NaN,NaN,NaN,NaN,NaN,115.93,121.95,9.33,30,107.59,115.23,8.98,20,132.88,136.8,73,111.87,118.02,9,>75,88,NaN,46,50-60,NaN,23,50,NaN,40,>90,NaN,14,NaN,NaN,I_647,2017-11-20 00:00:00,0.5703,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,A,23,NaN,21,NaN,NaN,NaN,NaN,12,12,12,131201777939200,2017-11-20 00:00:00,105,110,107,100,116,NaN,NaN,NaN,Complete
477,587,Baseline,When I was young we used to take one family va...,I spend all day at the beck and call of my sma...,2016-05-24 00:00:00,NaN,8164,jva,150.02,135.533,139.815,2163,132.057,136.13,2641,10,15,15,15,15,0,>75,NaN,NaN,NaN,NaN,NaN,NaN,114.91,119.92,9.75,30,112.42,117.61,9.68,20,118.11,122.43,72,108.91,111.41,9,>75,111,2016-05-24 00:00:00,62,>90,NaN,39,>90,NaN,22,>90,NaN,15,NaN,NaN,I_364,2016-05-24 00:00:00,0.541071,0.54348,9,4,5,3,5,3,9,2,1,3,1,1,1,29,A,18,NaN,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Complete
478,587,FU Visit 2,NaN,NaN,2017-02-10 00:00:00,NaN,37285,qwa,152.16,145.247,150.978,2307,126.553,130.308,2533,10,15,15,15,14,0,>75,NaN,NaN,NaN,NaN,NaN,NaN,113.07,118.13,9.61,29,112.42,117.61,9.68,20,140.99,144.25,89,108.91,111.41,9,>75,123,2017-02-10 00:00:00,64,>90,NaN,26,75-90,NaN,17,>90,NaN,15,NaN,NaN,NaN,NaN,NaN,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,B,21,NaN,20,NaN,12,7,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Complete
479,587,FU Visit 3,NaN,NaN,2017-09-22 00:00:00,NaN,83777,bdz,149.98,139.11,145.793,2221,129.459,132.647,2579,12,15,15,15,15,0,>75,NaN,NaN,NaN,NaN,NaN,NaN,114.92,119.94,9.75,28,116.77,121.98,9.9,20,139.77,143.14,86,108.91,111.41,9,>75,129,NaN,61,90,NaN,30,90,NaN,20,>90,NaN,15,NaN,NaN,I_605,2017-09-22 00:00:00,0.6334,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,A,21,NaN,20,NaN,NaN,NaN,NaN,12,10,12,922201778147664,2017-09-22 00:00:00,107,110,123,107,116,NaN,NaN,NaN,Complete
480,587,FU Visit 4,NaN,NaN,2018-03-12 00:00:00,NaN,88448,wgu,153.68,145.317,151.05,2308,130.494,134.593,2607,9,15,15,15,15,0,>75,NaN,NaN,NaN,NaN,NaN,NaN,105.18,110.9,9.08,28,112.13,117.31,9.66,20,140.62,143.88,87,108.91,111.41,9,>75,124,NaN,59,80-90,NaN,30,90,NaN,30,>90,NaN,15,NaN,NaN,I_702,2018-03-12 00:00:00,0.6361,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,B,25,NaN,25,NaN,12,12,12,NaN,NaN,NaN,922201778147664,2018-03-12 00:00:00,113,110,127,106,106,NaN,NaN,NaN,Complete
496,602,Baseline,This is too much pressure for a writer.,Okay... I'll combine a bit of question 1 with ...,2016-09-22 00:00:00,NaN,77049,ypb,116.16,111.652,117.298,1854,115.592,119.621,2354,5,10,12,10,11,2,50-75,NaN,NaN,NaN,NaN,NaN,NaN,99.85,105.48,8.72,29,97.54,101.72,8.94,20,83.35,88.33,53,95.71,98.04,8,75,90,2016-09-22 00:00:00,58,>90,NaN,34,>90,NaN,40,90,NaN,15,NaN,NaN,I_422,2016-09-22 00:00:00,0.482143,NaN,10,5,5,3,5,2,9,2,1,3,1,1,1,29,A,11,NaN,10,NaN,12,3,10,NaN,NaN,NaN,922201679050340,2016-09-22 00:00:00,108,105,114,94,106,NaN,NaN,NaN,Complete
497,602,FU Visit 2,NaN,NaN,2017-12-19 00:00:00,NaN,52253,sez,109.8,106.526,112.413,1797,110.092,114.829,2268,7,8,10,8,13,1,25-50,NaN,NaN,NaN,NaN,NaN,NaN,97.52,103.15,8.59,30,87.98,91.9,8.35,20,103.2,107.94,64,108.91,111.41,9,50-75,90,2017-12-19 00:00:00,64,>90,NaN,26,75-90,NaN,72,2018-10-20 00:00:00,NaN,14,NaN,NaN,I_663,2017-12-19 00:00:00,NaN,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,B,13,NaN,10,NaN,NaN,NaN,NaN,12,8,11,922201679050340,2017-12-19 00:00:00,108,110,100,101,102,NaN,NaN,NaN,Complete
498,602,FU Visit 3,NaN,NaN,2018-08-03 00:00:00,NaN,97931,fzk,125.52,112.242,117.814,1861,124.778,129.055,2506,6,10,12,6,12,5,>75,NaN,NaN,NaN,NaN,NaN,NaN,103.41,109.13,8.96,30,98.44,102.91,8.99,20,101.57,105.92,63,108.91,111.41,9,>75,91,NaN,56,80-90,NaN,23,50,NaN,50,70,NaN,15,NaN,NaN,I_750,2018-08-03 00:00:00,NaN,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,A,13,NaN,7,NaN,12,7,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Complete
499,603,Baseline,My mother's best friend drove a convertible. ...,"I use a computer for emails, work, research an...",2014-12-23 00:00:00,Odor ID and Trails B not administered,2215,NaN,111.02,101.904,108.231,1765,114.245,119.064,2379,13,13,14,13,NaN,NaN,>75,NaN,NaN,NaN,NaN,NaN,NaN,87.55,93.03,7.66,28,82.8,86.68,7.8,20,106.51,111.03,63,NaN,NaN,NaN,50-75,85,2014-12-23 00:00:00,51,70,NaN,22,25-50,NaN,NaN,NaN,NaN,15,NaN,NaN,NaN,NaN,NaN,NaN,10,5,5,3,5,3,9,2,1,3,1,1,1,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1034,2014-12-23 00:00:00,100,111,117,105,116,NaN,NaN,NaN,Complete

Column index Dict

Investigate score spread

In [26]:
datasheet.iloc[tech_ix,51:54]

       51                   52   53
6     NaN                  NaN  NaN
29    NaN                  NaN  NaN
51     84                   50  NaN
56     72                20-30  NaN
78     66                60-70  NaN
89     35                  >90  NaN
100    74                20-30  NaN
107   NaN                  NaN  NaN
118    55                80-90  NaN
154    45                80-90  NaN
184    54                80-90  NaN
202    45                   90  NaN
217  53.4                   60  NaN
226    67                   60  NaN
234    45                80-90  NaN
242  98.6  2018-10-20 00:00:00  NaN
266    54                80-90  NaN
277    46                80-90  NaN
280    76  2018-10-20 00:00:00  NaN
286    57                   90  NaN
297    39                  >90  NaN
303    36                  >90  NaN
324   NaN                  NaN  NaN
337    52               70-80   NaN
347    62                70-80  NaN
352    45                  >90  NaN
359    45                80-90  NaN
375    54                70-80  NaN
387    74                50-60  NaN
398    28                   90  NaN
411    44                80-90  NaN
423    60                   50  NaN
433    44                80-90  NaN
438    29                  >90  NaN
445    51               70-80   NaN
448    32                  >90  NaN
460    64                70-80  NaN
464    27                  >90  NaN
470    51                60-70  NaN
474    31                  >90  NaN
477    22                  >90  NaN
496    40                   90  NaN
499   NaN                  NaN  NaN
502    55                  >90  NaN
506    49                80-90  NaN
509    27                  >90  NaN
519    60                   50  NaN
522    63                40-50  NaN
537    46                  >90  NaN
540    33                  >90  NaN

In [27]:
#MMSE
datasheet.iloc[tech_all_ix][[0,1,4,74]]

      0           1                    4    74
6     14    Baseline  2015-02-26 00:00:00   30
7     14  FU Visit 2  2015-07-14 00:00:00   30
8     14  FU Visit 3  2016-03-07 00:00:00   29
9     14  FU Visit 4  2016-08-25 00:00:00   30
10    14  FU Visit 5  2017-02-17 00:00:00   30
11    14  FU Visit 6  2017-09-15 00:00:00   30
12    14  FU Visit 7  2018-04-16 00:00:00   28
29    26    Baseline  2015-02-03 00:00:00   30
30    26  FU Visit 2  2015-07-28 00:00:00   30
31    26  FU Visit 3  2016-01-28 00:00:00   29
32    26  FU Visit 4  2017-05-25 00:00:00   30
33    26  FU Visit 5  2017-11-13 00:00:00   30
34    26  FU Visit 6  2018-05-03 00:00:00   30
51    64    Baseline  2015-05-08 00:00:00   30
52    64  FU Visit 2  2016-05-12 00:00:00   29
53    64  FU Visit 3  2017-04-13 00:00:00   30
54    64  FU Visit 4  2018-03-20 00:00:00   28
55    64  FU Visit 5                  NaN  NaN
56    67    Baseline  2015-03-17 00:00:00   30
57    67  FU Visit 2  2016-01-05 00:00:00   30
58    67  FU Visit 3  2016-07-12 00:00:00   30
59    67  FU Visit 4  2017-01-10 00:00:00   30
60    67  FU Visit 5  2017-07-11 00:00:00   30
61    67  FU Visit 6  2018-01-23 00:00:00   30
62    67  FU Visit 7  2018-07-17 00:00:00   30
78   101    Baseline  2015-03-06 00:00:00   29
79   101  FU Visit 2  2015-12-01 00:00:00   30
80   101  FU Visit 3  2016-08-16 00:00:00   30
81   101  FU Visit 4  2017-02-17 00:00:00   30
82   101  FU Visit 5  2017-08-25 00:00:00   30
..   ...         ...                  ...  ...
479  587  FU Visit 3  2017-09-22 00:00:00   30
480  587  FU Visit 4  2018-03-12 00:00:00   30
496  602    Baseline  2016-09-22 00:00:00   29
497  602  FU Visit 2  2017-12-19 00:00:00   30
498  602  FU Visit 3  2018-08-03 00:00:00   30
499  603    Baseline  2014-12-23 00:00:00   30
500  603  FU Visit 2  2016-08-18 00:00:00   30
501  603  FU Visit 3  2017-08-28 00:00:00   30
502  604    Baseline  2016-10-04 00:00:00   29
503  604  FU Visit 2  2017-05-16 00:00:00   29
504  604  FU Visit 3  2017-10-30 00:00:00   30
505  604  FU Visit 4  2018-04-30 00:00:00   30
506  607    Baseline  2016-11-29 00:00:00   29
507  607  FU Visit 2  2017-10-20 00:00:00   30
508  607  FU Visit 3  2018-04-20 00:00:00   30
509  609    Baseline  2017-01-13 00:00:00   30
510  609  FU Visit 2  2017-09-08 00:00:00   30
511  609  FU Visit 3  2018-04-11 00:00:00   29
519  616    Baseline  2017-03-30 00:00:00   30
520  616  FU Visit 2  2017-10-25 00:00:00   30
521  616  FU Visit 3  2018-05-15 00:00:00   30
522  619    Baseline  2017-03-06 00:00:00   30
523  619  FU Visit 2  2017-09-26 00:00:00   29
524  619  FU Visit 3  2018-05-15 00:00:00   30
537  626    Baseline  2017-03-07 00:00:00   29
538  626  FU Visit 2  2017-09-28 00:00:00   28
539  626  FU Visit 3  2018-03-22 00:00:00   30
540  631    Baseline  2017-04-11 00:00:00   27
541  631  FU Visit 2  2017-09-26 00:00:00   29
542  631  FU Visit 3  2018-04-03 00:00:00   29

[225 rows x 4 columns]

In [28]:
#MMSE scores
#6 unique...
np.unique([int(i) for i in datasheet.iloc[tech_all_ix][74].dropna()],return_counts=True)

(array([23, 26, 27, 28, 29, 30]),
 array([  1,   2,   1,  16,  48, 152], dtype=int64))

In [29]:
#Min MMSE
datasheet.iloc[tech_all_ix][74].min()

23

In [30]:
#The maximum MMSE score is 30 points. A score of 20 to 24 suggests mild dementia, 13 to 20 suggests moderate dementia, and less than 12 indicates severe dementia.
#participants with MCI...one ---
datasheet.iloc[tech_all_ix][74][datasheet.iloc[tech_all_ix][74] < 25]

390    23
Name: 74, dtype: object

In [31]:
#Unique words

In [32]:
len(tech_ix)

50

# Reference

## Column names

In [33]:
[(i,test) for( i,test) in enumerate(datasheet.iloc[0])]

[(0, 'Record ID'),
 (1, 'Event Name'),
 (2,
  'Write a short sketch about a memory from your childhood and why it is memorable or important to you. Feel free to discuss an event with family or friends, a place you traveled, or a significant time in your life.  Please limit your response to no more than 1-2 paragraphs.  '),
 (3,
  'How does technology and social media impact the daily lives of you and your family?Please limit your response to no more than 1-2 paragraphs.  '),
 (4, 'Date of Neurobehavioral Status Exam'),
 (5, 'Notes'),
 (6, 'NIH Toolbox ID'),
 (7, 'NIH Toolbox Password'),
 (8, 'Crystallized Composite fully adjusted'),
 (9, 'Picture Vocab fully adjusted'),
 (10, 'Picture Vocab age adjusted'),
 (11, 'Picture Vocab computed'),
 (12, 'Oral Reading Recognition fully adjusted'),
 (13, 'Oral Reading Recognition age adjusted'),
 (14, 'Oral Reading Recognition computed'),
 (15, 'RAVLT Trial1'),
 (16, 'RAVLT Trial2'),
 (17, 'RAVLT Trial3'),
 (18, 'RAVLT Delayed Recall'),
 (19, 'RAVLT: Total Recognition Score'),
 (20, 'RAVLT: False Positive Score'),
 (21, 'RAVLT Percentile'),
 (22, 'Picture Sequence Memory fully adjusted'),
 (23, 'Picture Sequence Age Adjusted'),
 (24, 'Picture Sequence Memory computed score'),
 (25, 'List Sorting fully adjusted'),
 (26, 'List Sorting Age Adjusted'),
 (27, 'List Sorting raw score'),
 (28, 'Dimensional Change Card Sort Fully Adjusted'),
 (29, 'Dimensional Change Age Adjusted'),
 (30, 'Dimensional Change computed score'),
 (31, 'Dimensional Change raw score'),
 (32, 'Flanker Inhibitory Attention & Control Fully Adjusted '),
 (33, 'Flanker Inhibitory Attention & Control age adjusted'),
 (34, 'Flanker computed score'),
 (35, 'Flanker raw score'),
 (36, 'Pattern Comparison Fully Adjusted Scale Score'),
 (37, 'Pattern Comparison age adjusted'),
 (38, 'Pattern Comparison Raw Score'),
 (39, 'Odor Identification Fully Adjusted Scale Score'),
 (40, 'Odor Identification age adjusted'),
 (41, 'Odor Identification (Raw)'),
 (42, 'Oral Digit Symbol Percentile'),
 (43, 'Oral Digit Symbol (Raw)'),
 (44, 'Date of Short Cognitive Testing'),
 (45, 'FAS Letter Fluency'),
 (46, 'FAS Percentile'),
 (47, 'FAS Fully Adjusted'),
 (48, 'Animal Naming Test'),
 (49, 'Animal Naming Test Percentile'),
 (50, 'Animal Naming Fully Adjusted'),
 (51, 'Trail Making Test B'),
 (52, 'Trail Making Test B Percentile'),
 (53, 'Trail Making Fully Adjusted'),
 (54, 'Boston Naming'),
 (55, 'Boston Naming Percentile'),
 (56, 'Boston Naming Fully Adjusted'),
 (57, 'Neurotrack ID'),
 (58, 'Neurotrack Date'),
 (59, 'NT Mean Novelty Preference Score'),
 (60, 'Neurotrack Score (Median)'),
 (61, '1. Orientation Score'),
 (62, '1a. Time'),
 (63, '1b. Place'),
 (64, '2. Registration'),
 (65, '3. Attention and Calculation'),
 (66, '4. Recall'),
 (67, '5. Language'),
 (68, '5a. Naming'),
 (69, '5b. Repetition'),
 (70, '5c. 3-stage Command'),
 (71, '5d. Reading'),
 (72, '5e. Writing'),
 (73, '5f. Copying'),
 (74, 'Total MMSE score'),
 (75, 'Story Version'),
 (76, 'Immediate Recall'),
 (77, 'Immediate Recall Percentile'),
 (78, 'Delayed Recall'),
 (79, 'Delayed Recall Percentile'),
 (80, 'Facial Recognition A'),
 (81, 'Cued First Letter A'),
 (82, 'Multiple Choice Names A'),
 (83, 'Facial Recognition B'),
 (84, 'Cued First Letter B'),
 (85, 'Multiple Choice Names B'),
 (86, 'CogStateID'),
 (87, 'Date Conducted:'),
 (88, 'CogState: Detection'),
 (89, 'CogState: Identification'),
 (90, 'CogState: One Card Learning'),
 (91, 'CogState: One Back Speed'),
 (92, 'Cog State: One Back Accuracy'),
 (93, 'Ravens Progressive Matrices'),
 (94, 'Logical Memory Part B'),
 (95, 'East Boston Immediate Recall'),
 (96, 'Complete?')]

## 466k Word list

In [34]:
with open('words.txt','r') as words:
    word_list = words.read().splitlines()

word_list = [w.lower() for w in word_list]

In [35]:
len(word_list)

466544

## nltk pos data dictionary

In [36]:
nltk.help.upenn_tagset()

$: dollar
    $ -$ --$ A$ C$ HK$ M$ NZ$ S$ U.S.$ US$
'': closing quotation mark
    ' ''
(: opening parenthesis
    ( [ {
): closing parenthesis
    ) ] }
,: comma
    ,
--: dash
    --
.: sentence terminator
    . ! ?
:: colon or ellipsis
    : ; ...
CC: conjunction, coordinating
    & 'n and both but either et for less minus neither nor or plus so
    therefore times v. versus vs. whether yet
CD: numeral, cardinal
    mid-1890 nine-thirty forty-two one-tenth ten million 0.5 one forty-
    seven 1987 twenty '79 zero two 78-degrees eighty-four IX '60s .025
    fifteen 271,124 dozen quintillion DM2,000 ...
DT: determiner
    all an another any both del each either every half la many much nary
    neither no some such that the them these this those
EX: existential there
    there
FW: foreign word
    gemeinschaft hund ich jeux habeas Haementeria Herr K'ang-si vous
    lutihaw alai je jour objets salutaris fille quibusdam pas trop Monte
    terram fiche oui corporis ...
IN: preposition or conjunction, subordinating
    astride among uppon whether out inside pro despite on by throughout
    below within for towards near behind atop around if like until below
    next into if beside ...
JJ: adjective or numeral, ordinal
    third ill-mannered pre-war regrettable oiled calamitous first separable
    ectoplasmic battery-powered participatory fourth still-to-be-named
    multilingual multi-disciplinary ...
JJR: adjective, comparative
    bleaker braver breezier briefer brighter brisker broader bumper busier
    calmer cheaper choosier cleaner clearer closer colder commoner costlier
    cozier creamier crunchier cuter ...
JJS: adjective, superlative
    calmest cheapest choicest classiest cleanest clearest closest commonest
    corniest costliest crassest creepiest crudest cutest darkest deadliest
    dearest deepest densest dinkiest ...
LS: list item marker
    A A. B B. C C. D E F First G H I J K One SP-44001 SP-44002 SP-44005
    SP-44007 Second Third Three Two * a b c d first five four one six three
    two
MD: modal auxiliary
    can cannot could couldn't dare may might must need ought shall should
    shouldn't will would
NN: noun, common, singular or mass
    common-carrier cabbage knuckle-duster Casino afghan shed thermostat
    investment slide humour falloff slick wind hyena override subhumanity
    machinist ...
NNP: noun, proper, singular
    Motown Venneboerger Czestochwa Ranzer Conchita Trumplane Christos
    Oceanside Escobar Kreisler Sawyer Cougar Yvette Ervin ODI Darryl CTCA
    Shannon A.K.C. Meltex Liverpool ...
NNPS: noun, proper, plural
    Americans Americas Amharas Amityvilles Amusements Anarcho-Syndicalists
    Andalusians Andes Andruses Angels Animals Anthony Antilles Antiques
    Apache Apaches Apocrypha ...
NNS: noun, common, plural
    undergraduates scotches bric-a-brac products bodyguards facets coasts
    divestitures storehouses designs clubs fragrances averages
    subjectivists apprehensions muses factory-jobs ...
PDT: pre-determiner
    all both half many quite such sure this
POS: genitive marker
    ' 's
PRP: pronoun, personal
    hers herself him himself hisself it itself me myself one oneself ours
    ourselves ownself self she thee theirs them themselves they thou thy us
PRP$: pronoun, possessive
    her his mine my our ours their thy your
RB: adverb
    occasionally unabatingly maddeningly adventurously professedly
    stirringly prominently technologically magisterially predominately
    swiftly fiscally pitilessly ...
RBR: adverb, comparative
    further gloomier grander graver greater grimmer harder harsher
    healthier heavier higher however larger later leaner lengthier less-
    perfectly lesser lonelier longer louder lower more ...
RBS: adverb, superlative
    best biggest bluntest earliest farthest first furthest hardest
    heartiest highest largest least less most nearest second tightest worst
RP: particle
    aboard about across along apart around aside at away back before behind
    by crop down ever fast for forth from go high i.e. in into just later
    low more off on open out over per pie raising start teeth that through
    under unto up up-pp upon whole with you
SYM: symbol
    % & ' '' ''. ) ). * + ,. < = > @ A[fj] U.S U.S.S.R * ** ***
TO: "to" as preposition or infinitive marker
    to
UH: interjection
    Goodbye Goody Gosh Wow Jeepers Jee-sus Hubba Hey Kee-reist Oops amen
    huh howdy uh dammit whammo shucks heck anyways whodunnit honey golly
    man baby diddle hush sonuvabitch ...
VB: verb, base form
    ask assemble assess assign assume atone attention avoid bake balkanize
    bank begin behold believe bend benefit bevel beware bless boil bomb
    boost brace break bring broil brush build ...
VBD: verb, past tense
    dipped pleaded swiped regummed soaked tidied convened halted registered
    cushioned exacted snubbed strode aimed adopted belied figgered
    speculated wore appreciated contemplated ...
VBG: verb, present participle or gerund
    telegraphing stirring focusing angering judging stalling lactating
    hankerin' alleging veering capping approaching traveling besieging
    encrypting interrupting erasing wincing ...
VBN: verb, past participle
    multihulled dilapidated aerosolized chaired languished panelized used
    experimented flourished imitated reunifed factored condensed sheared
    unsettled primed dubbed desired ...
VBP: verb, present tense, not 3rd person singular
    predominate wrap resort sue twist spill cure lengthen brush terminate
    appear tend stray glisten obtain comprise detest tease attract
    emphasize mold postpone sever return wag ...
VBZ: verb, present tense, 3rd person singular
    bases reconstructs marks mixes displeases seals carps weaves snatches
    slumps stretches authorizes smolders pictures emerges stockpiles
    seduces fizzes uses bolsters slaps speaks pleads ...
WDT: WH-determiner
    that what whatever which whichever
WP: WH-pronoun
    that what whatever whatsoever which who whom whosoever
WP$: WH-pronoun, possessive
    whose
WRB: Wh-adverb
    how however whence whenever where whereby whereever wherein whereof why
``: opening quotation mark
    ` ``

# Feature Extraction

In [37]:
#memory response
mem_corpus = datasheet.iloc[memory_ix,2]

In [38]:
#tech response
tech_corpus = datasheet.iloc[tech_ix,3]

# Helper Functions

### try-catch comprehension hack
https://stackoverflow.com/questions/1528237/how-can-i-handle-exceptions-in-a-list-comprehension-in-python

In [39]:
def catch(func, handle=lambda e : e, *args, **kwargs):
    try:
        return func(*args, **kwargs)
    
    except ZeroDivisionError as z:
        return None
    except statistics.StatisticsError:
        print('Stat error at ix')
        return handle(e)
    except Exception as e:
        return handle(e)

## Tokenization

In [40]:
#Mis-spellings, word length
#rm puctuation
#keep contractions, posessives
def list_tokenize(response):
    return re.sub('['+string.punctuation.replace('\'','')+']',' ',response).split()

## Information extraction nltk

In [41]:
#information-extraction
#https://www.nltk.org/book/ch07.html
def ie_preprocess(document):
    #sentence segmentation
    sentences = nltk.sent_tokenize(document) 
    #tokenization
    sentences = [nltk.word_tokenize(sent) for sent in sentences]
    #pos tagging
    sentences = [nltk.pos_tag(sent) for sent in sentences] 
    
    return sentences

## Uniq, V

In [42]:
def uniq_words (response,token_list=None, counts_vector_return=False,uniq_set_return=False):
    if token_list is None: token_list = list_tokenize(response)
    if counts_vector_return and uniq_set_return: return np.unique(token_list,return_counts=True)
    
    if counts_vector_return and not uniq_set_return: return np.unique(token_list,return_counts=True)[1]
    
    if uniq_set_return and not counts_vector_return: return np.unique(token_list)
    #typical case, investigating number of uniq responses
    
    return len(np.unique(token_list))

## V1

In [43]:
def single_appearances (response,counts=None):
    if counts is None: counts = uniq_words(response,counts_vector_return=True)
    return len(np.where(counts==1)[0])

## N-grams

In [44]:
#http://locallyoptimal.com/blog/2013/01/20/elegant-n-gram-generation-in-python/
#input
def find_bigrams(response, return_list=False):
    input_list = list_tokenize(response)
    bigrams = zip(input_list, input_list[1:])
    if return_list: return [b for b in bigrams]
    else: return bigrams

## Word count

In [45]:
def word_count(response):
    return len(list_tokenize(response))

## Sentence count

In [46]:
def sentence_count(response):
    return len(ie_preprocess(response))

### POS tagging

In [47]:
#information-extraction
#https://www.nltk.org/book/ch07.html
def ie_preprocess(document):
    #sentence segmentation
    sentences = nltk.sent_tokenize(document) 
    #tokenization
    sentences = [nltk.word_tokenize(sent) for sent in sentences]
    #pos tagging
    sentences = [nltk.pos_tag(sent) for sent in sentences] 
    
    return sentences

## Rates

In [48]:
def pos_rate(response,pos_response=None,tag_set=None,denom_set=None,N=None,nn=False,pn=False,vb=False,proper=None):
    
    if pos_response is None: pos_response = ie_preprocess(response)
        
    
    if tag_set is None:
        #common nouns, excluding proper nouns
        if nn: tag_set = ['NN','NNS']
        elif vb: tag_set = ['VB','VBD','VBG','VBN','VBP','VBZ'] 
        elif pn: tag_set = ['PRP','PRP$']
        elif proper: 
            tag_set = ['PRP','PRP$','WP','WP$']
            denom_set = ['PRP','PRP$','WP','WP$','NN','NNP','NNPS','NNS']
        
    pos_count = sum([1 for sentence in pos_response for word in sentence if word[1] in tag_set])
    
    if denom_set: 
        denom_count = sum([1 for sentence in pos_response for word in sentence if word[1] in denom_set])
    else:
        if N is None: N = word_count(response)
        denom_count = N
        
    return pos_count/denom_count
        

#         sum([1 for sentence in pos_test for word in sentence if word[1] in ['VB','VBD','VBG','VBN','VBP','VBZ'] ])

## Honore's R 
![image.png](attachment:image.png)
https://books.google.com/books?id=CwC4CwAAQBAJ&pg=PA111&lpg=PA111&dq=honore+statistic+lexical+richness&source=bl&ots=LPnM2j9oX5&sig=HGObkoMYRy6lLsgc80Y7tUMT7vk&hl=en&sa=X&ved=2ahUKEwjv0ubE7vTdAhXwYd8KHVRfCiMQ6AEwCXoECAUQAQ#v=onepage&q=honore&f=false

http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.2.1359&rep=rep1&type=pdf

http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.484.4648&rep=rep1&type=pdf

viii) Honoré’s R statistic.
If V1 denotes the number of hapax legomena recorded, then Honoré (1979) defined his
statistic as:

*R = 100log(N)/(1 - V1/V)*

As a measure of vocabulary richness which has the virtue of being insensitive to text
length, it has been used in stylometric studies by Holmes (1992) and Holmes and
Stylometric analysis of conversational speech
Forsyth (1995). Values of R typically range from 1000 to 2000 with higher values
implying richer vocabularies in the sense that a greater number of words appear
infrequently.


https://pdfs.semanticscholar.org/11f9/ef33ad001f7638ba29ee8109077de92eb1bb.pdf


Assuming log == base e...fits with 1000-2000 assumption

In [49]:
def honore_r(response,v=None,v1=None, N=None):
    if N is None: N = word_count(response)
    if v is None: v = uniq_responses(response)
    if v1 is None: 
        counts = uniq_responses(response,counts_vector_return=True)
        v1 = len(np.where(counts==1)[0])
    return (100*math.log(N))/(1-v1/v)

## Brunet's W
W = N**(V −0.165)

(vii) Brunet’s W index.
This index, devised by Brunet (1978) and used successfully by Holmes and Forsyth
(1995), is a measure of vocabulary richness which is insensitive to text length. It is
defined as:

W= N^(V-0.165)
where N is the text length, V the number of different words and (-0.165) is a scaling
constant proposed by Brunet. The measure generally varies between 10 and 20 with a
low value indicating a lexically richer speech.
https://pdfs.semanticscholar.org/11f9/ef33ad001f7638ba29ee8109077de92eb1bb.pdf

In [50]:
def brunet_w(response,N=None, v=None):
    if N is None: N = word_count(response)
    if v is None: v = uniq_responses(response)
    return N**(v-0.165)

## Moving window

In [51]:
#10-window size generator
#https://docs.python.org/release/2.3.5/lib/itertools-example.html
def window(seq, n=10):
    "Returns a sliding window (of width n) over data from the iterable"
    "   s -> (s0,s1,...s[n-1]), (s1,s2,...,sn), ...                   "
    it = iter(seq)
    result = tuple(islice(it, n))
    if len(result) == n:
        yield result    
    for elem in it:
        result = result[1:] + (elem,)
        yield result

In [52]:
[w for w in window(list_tokenize(datasheet.iloc[496,2]),8)]

[('This', 'is', 'too', 'much', 'pressure', 'for', 'a', 'writer')]

|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------|

# Held-out test set

In [134]:
np.random.choice(tech_ix,(1,int(.20*len(tech_ix))),replace=False)

array([[ 29, 464, 324, 277, 242, 496, 107, 359, 411, 375]], dtype=int64)

array([[ 29, 464, 324, 277, 242, 496, 107, 359, 411, 375]], dtype=int64)

In [149]:
held_out_test_ix = np.array([ 29, 464, 324, 277, 242, 496, 107, 359, 411, 375])

In [135]:
#held out test-set coincidently has both tech + mem responses
#dev set has one tech_x responose
tech_x_ix

[234, 280, 337, 519]

In [145]:
train_dev_ix = [t for t in tech_ix if t not in held_out_test_ix]

In [143]:
np.random.choice(tech_ix_train_dev,(1,int(.20*len(tech_ix_train_dev))),replace=False)

array([[460,  78, 234, 352, 347, 398, 448, 537]], dtype=int64)

In [144]:
dev_ix = np.array([460,  78, 234, 352, 347, 398, 448, 537])

## Dev set

In [ ]:
tech_ix_dev = np.random.choice(tech_ix_train_dev)

## Train set

In [146]:
train_ix = [i for i in train_dev_ix if i not in dev_ix]

In [148]:
len(train_ix)

32

In [150]:
train_ix_mem = [m for m in train_ix if m in memory_ix]

In [152]:
len(train_ix_mem)

29

# Features

## Response length

### Response word count

In [53]:
mem_n = pd.Series([word_count(r) for r in datasheet.iloc[memory_ix,2]],index=memory_ix)

In [54]:
mean_mem_length = mean(mem_n)

In [55]:
mean_mem_length

107

In [56]:
tech_x_proxy_length = pd.Series([mean_mem_length for t in tech_x_ix],index=tech_x_ix)

In [57]:
tech_x_proxy_length

234    107
280    107
337    107
519    107
dtype: int64

In [58]:
mem_n = mem_n.append(tech_x_proxy_length)

In [59]:
#tech ix contains all respondent indices
len(mem_n) == len(tech_ix)

True

In [60]:
tech_n = pd.Series([word_count(tr) for tr in datasheet.iloc[tech_ix,3]],index=tech_ix)

In [61]:
#And here you have it
#Merged response lengths
words_count = pd.Series([mem_n[i]+tech_n[i] for i in tech_ix],index=tech_ix)

In [62]:
#Merged length
words_count

6       90
29     172
51     216
56     212
78     102
89     230
100    104
107    269
118     77
154    127
184    201
202     65
217    116
226     43
234    125
242     95
266    150
277    113
280    114
286     73
297    184
303    105
324     24
337    187
347    217
352    122
359    509
375    175
387     29
398    212
411     43
423     93
433    250
438    106
445    171
448    529
460     65
464    233
470     52
474    235
477    251
496    334
499     55
502    171
506    360
509     77
519    139
522    878
537    210
540    220
dtype: int64

### Response sentence count

In [63]:
mem_sentence = pd.Series([sentence_count(mr) for mr in datasheet.iloc[memory_ix,2]],index=memory_ix)

In [64]:
mean_mem_sentence = mean(mem_sentence)

In [65]:
tech_x_proxy_sentence = pd.Series([mean_mem_sentence for t in tech_x_ix],index=tech_x_ix)

In [66]:
mem_sentence = mem_sentence.append(tech_x_proxy_sentence)

In [67]:
len(mem_sentence) == len(tech_ix)

True

In [68]:
tech_sentence = pd.Series([sentence_count(tr) for tr in datasheet.iloc[tech_ix,3]],index=tech_ix)

In [69]:
#And here you have it
#Merged response lengths
sentences_count = pd.Series([mem_sentence[i]+tech_sentence[i] for i in tech_ix],index=tech_ix)

In [70]:
sentences_count.describe()

count    50.000000
mean     10.180000
std       7.924877
min       2.000000
25%       6.000000
50%       8.000000
75%      12.000000
max      55.000000
dtype: float64

## Lexical Richness

## V

In [71]:
mem_v = pd.Series([uniq_words(mr) for mr in datasheet.iloc[memory_ix,2]],index=memory_ix)

In [72]:
tech_v = pd.Series([uniq_words(tr) for tr in datasheet.iloc[tech_ix,3]],index=tech_ix)

## V1

In [74]:
mem_v1 = pd.Series([single_appearances(mr) for mr in datasheet.iloc[memory_ix,2]],index=memory_ix)

In [75]:
tech_v1 = pd.Series([single_appearances(tr) for tr in datasheet.iloc[tech_ix,3]],index=tech_ix)

## MATTR (window size 10)

In [77]:
window_size = 10

In [78]:
import statistics

In [79]:
[w for w in window(list_tokenize(datasheet.iloc[496,2]))]

[]

In [80]:
list_tokenize(datasheet.iloc[496,2])

['This', 'is', 'too', 'much', 'pressure', 'for', 'a', 'writer']

In [81]:
mem_mattr = []
for ix,mr in zip(memory_ix,datasheet.iloc[memory_ix,2]):
    stripped_mr = list_tokenize(mr)
    if len(stripped_mr) < 10: window_size = len(stripped_mr)
    else: window_size = 10
        
    try:
        mem_mattr.append(mean([len(np.unique(mw))/window_size for mw in window(list_tokenize(mr),window_size)]))
    except statistics.StatisticsError:
        print('Stat error at ix',ix, mr)
mem_mattr_a = pd.Series(mem_mattr,index=memory_ix)

In [82]:
#ratio uniq words in each 10-word window
#avg for all ratios
mem_mattr = pd.Series([mean([len(np.unique(mw))/min(len(list_tokenize(mr)),10) for mw in window(list_tokenize(mr),n=min(len(list_tokenize(mr)),10))]) for mr in datasheet.iloc[memory_ix,2]],index=memory_ix)

In [83]:
mem_mattr_a.equals(mem_mattr)

True

In [84]:
tech_mattr = pd.Series([mean([len(np.unique(tw))/min(len(list_tokenize(tr)),10) for tw in window(list_tokenize(tr),n=min(len(list_tokenize(tr)),10))]) for tr in datasheet.iloc[tech_ix,3]],index=tech_ix)

for tokenized list:

In [87]:
#ten_window = window(stripped_test)

In [88]:
#ratio uniq words in each 10-word window
#avg for all ratios
#mean([len(np.unique(t))/len(t) for t in window(stripped_test)])

#

## Rates

Noun

In [92]:
mem_rate_nn = pd.Series([pos_rate(mr,nn=True) for mr in datasheet.iloc[memory_ix,2]],index=memory_ix)

In [93]:
tech_rate_nn = pd.Series([pos_rate(tr,nn=True) for tr in datasheet.iloc[tech_ix,3]],index=tech_ix)

Verb

In [94]:
mem_rate_vb = pd.Series([pos_rate(mr,vb=True) for mr in datasheet.iloc[memory_ix,2]],index=memory_ix)

In [95]:
tech_rate_vb = pd.Series([pos_rate(tr,vb=True) for tr in datasheet.iloc[tech_ix,3]],index=tech_ix)

Pronoun

In [96]:
mem_rate_pn = pd.Series([pos_rate(mr,pn=True) for mr in datasheet.iloc[memory_ix,2]],index=memory_ix)

In [97]:
tech_rate_pn = pd.Series([pos_rate(tr,pn=True) for tr in datasheet.iloc[tech_ix,3]],index=tech_ix)

Proper noun

In [98]:
mem_rate_proper = pd.Series([pos_rate(mr,proper=True) for mr in datasheet.iloc[memory_ix,2]],index=memory_ix)

In [99]:
tech_rate_proper = pd.Series([pos_rate(tr,proper=True) for tr in datasheet.iloc[tech_ix,3]],index=tech_ix)

## Initiating with Coordinating Conjunction
Counts, 0/1, rate-per-sentences?

In [111]:
def coord_conjunctions_init(response):
    return sum([1 for sentence in ie_preprocess(response) if sentence[0][1] == 'CC'])

In [113]:
mem_cc_init = pd.Series([catch(lambda:coord_conjunctions_init(mr)) for mr in datasheet.iloc[memory_ix,2]],index=memory_ix)

In [126]:
tech_cc_init = pd.Series([catch(lambda:coord_conjunctions_init(tr)) for tr in datasheet.iloc[tech_ix,3]],index=tech_ix)

## Misspellings, words not found in dictionary

In [128]:
def misspelt(response):
    return sum([1 for word in list_tokenize(response) if word.lower() not in word_list])

In [129]:
mem_misspell = pd.Series([catch(lambda:misspelt(mr)) for mr in datasheet.iloc[memory_ix,2]],index=memory_ix)

In [130]:
tech_misspell = pd.Series([catch(lambda:misspelt(tr)) for tr in datasheet.iloc[tech_ix,3]],index=tech_ix)

# Feature Matrix

In [157]:
pd.concat(mem_n.loc[train_ix_mem],
          tech_n.loc[train_ix],
         mem_sentence.loc[train_ix_mem],
         tech_sentence.loc[train_ix],
         mem_v.loc[train_ix_mem],
         tech_v.loc[train_ix],
         mem_v1.loc[train_ix_mem],
         tech_v1.loc[train_ix],
         mem_mattr.loc[train_ix_mem],
         tech_mattr.loc[train_ix],
         mem_rate_nn.loc[train_ix_mem],
         tech_rate_nn.loc[train_ix],
         mem_rate_vb.loc[train_ix_mem],
         tech_rate_vb.loc[train_ix],
         mem_rate_pn.loc[train_ix_mem],
         tech_rate_pn.loc[train_ix],
         mem_rate_proper.loc[train_ix_mem],
         tech_rate_proper.loc[train_ix],
         mem_cc_init.loc[train_ix_mem],
         tech_cc_init.loc[train_ix],
         mem_misspell.loc[train_ix_mem],
         tech_misspell.loc[train_ix])

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "Series"

In [ ]:
pd.DataFrame()

In [ ]:
#for each col fill empty with avg

## |------------------------------------------------Testing---------------------------------------------------------|

### Stanford parser

In [ ]:
from nltk.tag import StanfordNERTagger
stanford_classifier = r'C:\Users\Renee\StanfordParser\stanford-ner-2018-02-27\classifiers\english.all.3class.distsim.crf.ser.gz'
stanford_ner_path = r'C:\Users\Renee\StanfordParser\stanford-ner-2018-02-27\stanford-ner.jar'

In [ ]:
st = StanfordNERTagger(stanford_classifier, stanford_ner_path, encoding='utf-8')

In [ ]:
[st.tag(t) for t in [stripped_test]]

In [ ]:
java -mx4g -cp "*" edu.stanford.nlp.pipeline.StanfordCoreNLPServer [port?] # run server

### Misspellings- (stemmed) words not in dictionary

In [ ]:
#lacking
# from nltk.corpus import words
# word_list = words.words()

In [ ]:
#https://github.com/dwyl/english-words

with open('words.txt','r') as words:
    word_list = words.read().splitlines()

word_list = [w.lower() for w in word_list]

In [ ]:
len(word_list)

In [ ]:
#as ratio to response length?...leave as total misspellings, length accounted for
test_misspellings = sum([1 for t in stripped_test if t.lower() not in word_list])

In [ ]:
test_misspellings

In [ ]:
'couldn\'t' in word_list

In [ ]:
'Little' in word_list

In [ ]:
'little' in word_list

In [ ]:
test_response

## Proportion of pn: (n + pn + proper noun) 
In attempt to model circumlocution, word finding

In [ ]:
sum([1 for sentence in pos_test for word in sentence if word[1] in ['PRP','PRP$','WP','WP$'] ])/sum([1 for sentence in pos_test for word in sentence if word[1] in ['PRP','PRP$','WP','WP$','NN','NNP','NNPS','NNS'] ])

### Honore's R

In [89]:
mem_honore = pd.Series([catch(lambda:honore_r(mem)) for mem in datasheet.iloc[memory_ix,2]],index=memory_ix)

In [90]:
tech_honore = pd.Series([catch(lambda:honore_r(tech)) for tech in datasheet.iloc[tech_ix,3]],index=tech_ix)

### Brunet's W

In [91]:
pd.Series([catch(lambda:brunet_w(mem)) for mem in datasheet.iloc[memory_ix,2]],index=memory_ix)

6      name 'uniq_responses' is not defined
29     name 'uniq_responses' is not defined
51     name 'uniq_responses' is not defined
56     name 'uniq_responses' is not defined
78     name 'uniq_responses' is not defined
89     name 'uniq_responses' is not defined
100    name 'uniq_responses' is not defined
107    name 'uniq_responses' is not defined
118    name 'uniq_responses' is not defined
154    name 'uniq_responses' is not defined
184    name 'uniq_responses' is not defined
202    name 'uniq_responses' is not defined
217    name 'uniq_responses' is not defined
226    name 'uniq_responses' is not defined
242    name 'uniq_responses' is not defined
266    name 'uniq_responses' is not defined
277    name 'uniq_responses' is not defined
286    name 'uniq_responses' is not defined
297    name 'uniq_responses' is not defined
303    name 'uniq_responses' is not defined
324    name 'uniq_responses' is not defined
347    name 'uniq_responses' is not defined
352    name 'uniq_responses' is not defined
359    name 'uniq_responses' is not defined
375    name 'uniq_responses' is not defined
387    name 'uniq_responses' is not defined
398    name 'uniq_responses' is not defined
411    name 'uniq_responses' is not defined
423    name 'uniq_responses' is not defined
433    name 'uniq_responses' is not defined
438    name 'uniq_responses' is not defined
445    name 'uniq_responses' is not defined
448    name 'uniq_responses' is not defined
460    name 'uniq_responses' is not defined
464    name 'uniq_responses' is not defined
470    name 'uniq_responses' is not defined
474    name 'uniq_responses' is not defined
477    name 'uniq_responses' is not defined
496    name 'uniq_responses' is not defined
499    name 'uniq_responses' is not defined
502    name 'uniq_responses' is not defined
506    name 'uniq_responses' is not defined
509    name 'uniq_responses' is not defined
522    name 'uniq_responses' is not defined
537    name 'uniq_responses' is not defined
540    name 'uniq_responses' is not defined
dtype: object

In [ ]:
stop

## Word obscurity

## Syntactic complexity, depth of syntactic parse tree

In [ ]:
from nltk.corpus import treebank

In [ ]:
test_response

In [ ]:
stripped_test

In [ ]:
t = treebank.parsed_sents(test_response)
print(t)

In [ ]:
#stemming
#https://pythonprogramming.net/stemming-nltk-tutorial/
# from nltk.corpus import wordnet

In [ ]:
from nltk.stem import PorterStemmer
from nltk.tokenize import sent_tokenize, word_tokenize

ps = PorterStemmer()

In [ ]:
# os.environ['CLASSPATH'] = “stanford-pos”
# os.environ['STANFORD_MODELS'] = “stanford-pos”
# from nltk.tag import StanfordPOSTagger
# st = StanfordPOSTagger(‘english-bidirectional-distsim.tagger’) 
# st.tag(sent.split())

In [ ]:
st.tag(["we\'re"])

In [ ]:
st.tag(['we'])

In [ ]:
st.tag(['are'])

In [ ]:
nltk.pos_tag(['we\'re'])

In [ ]:
nltk.pos_tag(['we'])

In [ ]:
nltk.pos_tag(['are'])

In [ ]:
stagged_mem = [st.tag(t) for t in tokenized_mem]

In [ ]:
stagged_mem

In [ ]:
#https://nlpforhackers.io/stemmers-vs-lemmatizers/
#https://pythonprogramming.net/lemmatizing-nltk-tutorial/
from nltk.stem import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()

In [ ]:
lemmatizer.lemmatize('notawording')

In [ ]:
lemmatizer.lemmatize('occurred')

In [ ]:
ps.stem('occurred')

In [ ]:
ps.stem('notaworking')